<mjml>
  <mj-head>
    <mj-font name="Raleway" href="https://fonts.googleapis.com/css?family=Raleway" />
    <mj-title>Oceco</mj-title>
    <mj-preview>{{subject}}</mj-preview>
  </mj-head>
  <mj-body background-color="#ccc">
    <mj-section>
      <mj-column border-radius="15px" background-color="#eee" inner-background-color="#fff" padding="15px">

        <mj-image width="100px" src="{{ocecoUrl}}oceco.png"></mj-image>

        <mj-text font-size="20px" color="#E33551" font-family="Raleway, Arial">{{subject}}</mj-text>
        <mj-divider border-color="#E33551"></mj-divider>

        <mj-text font-size="15px" color="#324553" font-family="Raleway, Arial" line-height="20px">{{Welcome}} {{name}},</mj-text>
        <mj-text font-size="15px" color="#324553" font-family="Raleway, Arial" line-height="20px">{{message}}</mj-text>
        <mj-spacer height="30px" />

        {{#if scope}}
          <mj-table>
            <tr>
              <td style="padding: 0 15px 0 0;">{{Type}}</td>
              <td style="padding: 0 0 0 15px;">{{scope}}</td>
            </tr>
            <tr>
              <td style="padding: 0 15px 0 0;">{{Name}}</td>
              <td style="padding: 0 0 0 15px;"><a href="{{scopeUrl}}">{{scopeName}}</a></td>
            </tr>
          </mj-table>
        {{/if}}

        {{#if signature}}
          <mj-spacer height="30px" />

          <mj-text font-size="12px" color="#324553" font-family="Raleway, Arial">{{signature}}</mj-text>
        {{/if}}

        <mj-spacer height="30px" />

        <mj-divider border-color="#E33551"></mj-divider>

        <mj-text font-size="12px" color="#324553" font-family="Raleway, Arial">
          <strong>Oceco application</strong> : <a href="{{ocecoUrl}}">web</a>, <a href="{{ocecoUrl}}" title="Progressive web app">PWA</a>, <a href="https://play.google.com/store/apps/details?id=org.communecter.oceco&hl=fr">android</a> et ios (en cours)
        </mj-text>

        <mj-button font-family="Raleway, Arial" background-color="#E33551" color="white" href="{{ocecoUrl}}">
          {{ocecoUrl}}
        </mj-button>

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>