<template name="login">
  {{#contentFor "headerTitle"}}
    <h1 class="title">OCECO</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/oceco_red_gris.png" alt="" class="animated jello">
      </div>

      <form class="login-form">
        <div class="padding form-rb-plain">
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          <div class="animated fadeInLeft list" data-snap-ignore="true">
            <label class="item item-input">
              <span class="input-label">
                <i class="icon ion-email"></i>
              </span>
              <input type="email" id="email" placeholder="{{__ "email"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-locked"></i>
              </div>
              <input type="password" id="password" placeholder="{{__ "password"}}">
            </label>
          </div>
          <div class="animated fadeInUp padding">
            <button type="submit"
              class="button button-block button-positive {{#if loadingLogging}}animated infinite jello{{/if}}">{{__ "loggin"}}</button>
          </div>
          <div class="animated fadeInUp padding homestead text-center">
            {{__ "create an account"}} <a href="{{pathFor 'signin'}}" class="homestead dark">{{__ "signin"}}</a>.
          </div>
          <div class="animated fadeInUp padding homestead text-center">
            <a href="{{pathFor 'passwordLost'}}" class="homestead dark">{{__ "forgot your password"}}</a>.
          </div>
        </div>
      </form>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="signin">
  {{#contentFor "headerTitle"}}
    <h1 class="title">OCECO</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/oceco_red_gris.png" alt="" class="animated jello">
      </div>

      <form class="signup-form">
        <div class="padding form-rb-plain">
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          <div class="animated fadeInRight list" data-snap-ignore="true">
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-person"></i>
              </div>
              <input type="text" id="name" placeholder="{{__ "name"}}">
            </label>
            <label class="item item-input">
              <span class="input-label">
                <i class="icon ion-email"></i>
              </span>
              <input type="email" id="email" placeholder="{{__ "email"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-person"></i>
              </div>
              <input type="text" id="username" placeholder="{{__ "username"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-locked"></i>
              </div>
              <input type="password" id="password" placeholder="{{__ "password"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-locked"></i>
              </div>
              <input type="password" id="repassword" placeholder="{{__ "repassword"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-home"></i>
              </div>
              <input type="text" id="codepostal" value="{{codepostal}}" placeholder="{{__ "postcode"}}">
            </label>
            {{#if city}}
              <label class="item item-input item-select">
                <div class="input-label">
                  <i class="icon ion-location"></i>
                </div>
                <select name="city" id="city">
                  {{#each city}}
                    <option value="{{insee}}" {{citySelected}}>{{name}}</option>
                  {{/each}}
                </select>
              </label>
            {{/if}}
          </div>

          <div class="animated fadeInUp padding">
            <button type="submit"
              class="button button-block button-positive {{#if loadingLogging}}animated infinite jello{{/if}}">
              {{__ "signin"}}</button>
          </div>

          <div class="animated fadeInUp padding homestead text-center">{{__ "already have an account"}} <a
              href="{{pathFor 'login'}}" class="homestead dark">{{__ "loggin"}}.</a></div>
        </div>
      </form>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="passwordLost">
  {{#contentFor "headerTitle"}}
    <h1 class="title">OCECO</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/oceco_red_gris.png" alt="" class="animated jello">
      </div>

      <form class="password-form">
        <div class="padding form-rb-plain">
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          <div class="animated fadeInLeft list" data-snap-ignore="true">
            <label class="item item-input">
              <span class="input-label">
                <i class="icon ion-email"></i>
              </span>
              <input type="email" id="email" placeholder="{{__ " email"}}">
            </label>
          </div>
          <div class="animated fadeInUp padding">
            <button type="submit"
              class="button button-block button-positive {{#if loadingLogging}}animated infinite jello{{/if}}">{{__
          "Send"}}</button>
          </div>
          <div class="animated fadeInUp padding homestead text-center">{{__ "create an account"}} <a
              href="{{pathFor 'signin'}}" class="homestead dark">{{__ "signin"}}</a>.</div>
          <div class="animated fadeInUp padding homestead text-center">{{__ "already have an account"}} <a
              href="{{pathFor 'login'}}" class="homestead dark">{{__ "loggin"}}.</a></div>
        </div>
      </form>
    {{/ionContent}}
  {{/ionView}}
</template>