<template name="listeventSous">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        <div class="list list-inset">

          <div class="item item-divider">
            <i class="ion-android-calendar"></i> {{__ "events"}} <span class="badge badge-dark">{{countEvents}}</span>
          </div>

          {{#transition in="zoomIn" out="bounceOut"}}
            {{#each item in events}}
              {{> scopeItemList item=item count=item.countAttendeesSimple}}
            {{else}}

            {{/each}}
          {{/transition}}

        </div>

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>