<template name="scopeCard">
  <div class="{{class}}">
    {{#with scope}}
      <div class="item item-avatar item-text-wrap item-button-right">

        {{#if profilThumbImageUrl}}
          <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
        {{else}}
          {{> imgDoc imageDoc=imageDoc resized="50x50"}}
        {{/if}}

        <h2 class="homestead">{{htmlToText name}}</h2>

        {{#if equals scopeVar 'events'}}
          {{> scopeCreator organizer=organizerEvent creator=creatorProfile }}
          {{> scopeEventsParent eventsParent=eventsParent }}
        {{else if equals scopeVar 'projects'}}
          {{> scopeCreator organizer=organizerProject creator=creatorProfile }}
        {{else if equals scopeVar 'forms'}}
          {{> scopeCreator organizer=organizerForm creator=creatorProfile }}
        {{else}}
          {{#if creatorProfile}}
            <p>{{__ "creator"}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id._str scope='citoyens'}}"
                class="positive">{{creatorProfile.name}}</a></p>
          {{/if}}
        {{/if}}

        {{#if typeValue}}{{typeValue}}{{/if}}
        {{#if isVisibleFields 'birthDate'}}
          {{#if birthDate}}
            <p><i class="icon fa fa-birthday-cake"></i> {{formatBirthDate}} ({{calculateAge birthDate}})</p>
          {{/if}}
        {{/if}}
        {{#unless ../shareVisible}}
          {{> actionSheet}}
        {{/unless}}
      </div>

      {{#unless equals scopeVar 'forms'}}
        <div class="item item-image">
          {{#if profilImageUrl}}
            {{#if isAdmin}}
              {{#unless ../shareVisible}}
                <a href="" class="photo-link-scope"><img src="{{urlImageCommunecter}}{{profilImageUrl}}"></a>
                {{> scopeFileUpload}}
              {{else}}
                <img src="{{urlImageCommunecter}}{{profilImageUrl}}">
              {{/unless}}
            {{else}}
              <img src="{{urlImageCommunecter}}{{profilImageUrl}}">
            {{/if}}
          {{else}}
            {{#if isAdmin}}
              {{#unless ../shareVisible}}
                <a href="" class="photo-link-scope">{{> imgDoc imageDoc=imageDoc resized="340x340"}}</a>
                {{> scopeFileUpload}}
              {{else}}
                {{> imgDoc imageDoc=imageDoc resized="340x340"}}
              {{/unless}}
            {{else}}
              {{> imgDoc imageDoc=imageDoc resized="340x340"}}
            {{/if}}
          {{/if}}
        </div>
      {{/unless}}

      {{#if equals scopeVar 'citoyens'}}

      {{else if equals scopeVar 'forms'}}
        <div class="item item-text-wrap">
          {{#transition in="slideInDown" out="slideOutUp"}}
            <div class="dark animated in">
              {{#if startDate}}
                {{#if startDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "start"}} :</div>
                    <div class="col">{{formatStartDate}}
                      <p>({{livestamp formatStartDateIso}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "end"}} :</div>
                    <div class="col">{{formatEndDate}}
                      <p>({{livestamp formatEndDateIso}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-time"></i> {{__ "duration"}} :</div>
                    <div class="col">{{duration}}</div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{/transition}}
        </div>
      {{else}}
        <div class="item item-text-wrap">
          {{#transition in="slideInDown" out="slideOutUp"}}
            <div class="dark animated in">
              {{#if startDate}}
                {{#if startDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "start"}} :</div>
                    <div class="col">{{formatStartDate}}
                      <p>({{livestamp startDate}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "end"}} :</div>
                    <div class="col">{{formatEndDate}}
                      <p>({{livestamp endDate}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-time"></i> {{__ "duration"}} :</div>
                    <div class="col">{{diffInText startDate endDate}}</div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{/transition}}
        </div>
      {{/if}}

      <div class="item item-text-wrap">
        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if shortDescription}}
            <p class="right-top animated in">{{{textTags shortDescription tags}}}</p>
          {{/if}}
        {{/transition}}

        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if description}}
            {{#if descriptionHTML}}
              <p class="right-top animated in" style="white-space: pre-line;">{{{textTags description tags}}}</p>
            {{else}}
              <div class="right-top animated in" style="white-space: pre-line;">
                {{#markdown}}{{textTags description tags}}{{/markdown}}
              </div>
            {{/if}}
          {{/if}}
        {{/transition}}

        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if objectives}}
            <h3>{{__ "Objectives"}}</h3>
            {{#each objectives}}
              <p class="right-top animated in" style="white-space: pre-line;">{{{this}}}</p>
            {{/each}}
          {{/if}}
        {{/transition}}

        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if actionDomains}}
            <h3>{{__ "Actions domains"}}</h3>
            {{#each actionDomains}}
              <p class="right-top animated in" style="white-space: pre-line;">{{{this}}}</p>
            {{/each}}
          {{/if}}
        {{/transition}}

        {{#if isVisibleFields 'locality'}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if address}}
              <p class="right-top animated in">
                {{#if address.streetAddress}}
                  {{address.streetAddress}}<br>
                {{/if}}
                {{address.postalCode}} {{address.addressLocality}}
              </p>
            {{/if}}
          {{/transition}}
        {{/if}}
      </div>

      {{#if socialNetwork}}
        <div class="button-bar bar-positive right-top animated in">
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.twitter}}
              <a href="{{socialNetwork.twitter}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-twitter"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.github}}
              <a href="{{socialNetwork.github}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-github"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.telegram}}
              <a href="{{socialNetwork.telegram}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-telegram"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.instagram}}
              <a href="{{socialNetwork.instagram}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-instagram"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.facebook}}
              <a href="{{socialNetwork.facebook}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-facebook"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.googleplus}}
              <a href="{{socialNetwork.googleplus}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-google-plus"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.skype}}
              <a href="{{socialNetwork.skype}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-skype"></i></a>
            {{/if}}
          {{/transition}}
        </div>

      {{/if}}
      <div class="list">
        {{#if isVisibleFields 'email'}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if email}}
              <a href="mailto:{{email}}" class="item item-icon-left right-top animated in"><i
                  class="icon fa fa-envelope"></i> {{email}}</a>
            {{/if}}
          {{/transition}}
        {{/if}}
        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if url}}
            <a href="{{url}}" class="item item-icon-left right-top animated in"><i class="icon fa fa-link"></i>
              {{url}}</a>
          {{/if}}
        {{/transition}}

        {{#if isVisibleFields 'phone'}}
          {{#if telephone}}
            {{#transition in="slideInDown" out="slideOutUp"}}
              {{#if telephone.fixe}}
                {{#each telephone.fixe}}
                  <a href="tel:{{this}}" class="item item-icon-left right-top animated in">
                    <i class="icon fa fa-phone"></i> {{this}}
                  </a>
                {{/each}}
              {{/if}}
            {{/transition}}
            {{#transition in="slideInDown" out="slideOutUp"}}
              {{#if telephone.mobile}}
                {{#each telephone.mobile}}
                  <a href="tel:{{this}}" class="item item-icon-left right-top animated in">
                    <i class="icon fa fa-mobile"></i> {{this}}
                  </a>
                {{/each}}
              {{/if}}
            {{/transition}}
            {{#transition in="slideInDown" out="slideOutUp"}}
              {{#if telephone.fax}}
                {{#each telephone.fax}}
                  <a href="tel:{{this}}" class="item item-icon-left right-top animated in">
                    <i class="icon fa fa-fax"></i> {{this}}
                  </a>
                {{/each}}
              {{/if}}
            {{/transition}}
          {{/if}}
        {{/if}}

      </div>

      {{#transition in="slideInLeft" out="slideOutLeft"}}
        {{#if tags}}
          <div class="item item-text-wrap animated in">
            <p>
              {{#each tags}}
                <a href="" class="positive animated in"><i class="icon fa fa-tag"></i> {{this}}</a>
              {{/each}}
            </p>
          </div>
        {{/if}}
      {{/transition}}

      {{#if equals scopeVar 'events'}}
        <div class="item tabs tabs-secondary tabs-icon-left">
          {{#if isVisibleFields 'locality'}}
            {{#if geo}}<a class="tab-item" href="{{pathFor 'mapWith' _id=_id._str scope=scopeVar}}"><i
                  class="icon ion-ios-location"></i></a>{{/if}}
          {{/if}}
        </div>
      {{/if}}

      {{#unless equals scopeVar 'forms'}}
        {{> scopeBoardActions _id=_id._str scope=scopeVar}}

        {{#if equals scopeVar 'projects'}}

          {{#each listMembers}}
            {{> scopeBoardUserActions _id=../_id._str scope=../scopeVar userId=this }}
          {{/each}}

        {{/if}}

        {{#if equals scopeVar 'organizations'}}

          {{#each listMembers}}
            {{> scopeBoardUserActions _id=../_id._str scope=../scopeVar userId=this }}
          {{/each}}

        {{/if}}
      {{/unless}}

    {{/with}}

  </div>
</template>

<template name="scopeBoardActions">
  {{#if countActionsStatus 'all'}}
    <div class="item item-divider">
      <h2><i class="fa fa-chart-line"></i> Tableau de bord des actions</h2>
    </div>
    <div class="">
      <div class="row">
        <div class="col col-25 col-center">Total</div>
        <div class="col col-20 col-center text-center">{{countActionsStatus 'all'}}</div>
        <div class="col col-center text-center">
          <div class="progress-bar">
            <span class="progress-bar-fill progress-bar-fill-dark" style="width: 100%;">100%</span>
          </div>
        </div>
      </div>
      {{> scopeBoardActionsItem _id=_id scope=scope label=(__ "todo") status="todo" classBar="progress-bar-stable" classFill=""}}
      {{> scopeBoardActionsItem _id=_id scope=scope label=(__ "done") status="done" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardActionsItem _id=_id scope=scope label=(__ "disabled") status="disabled" classBar="progress-bar-stable" classFill="progress-bar-fill-assertive"}}
      {{> scopeBoardActionsItem _id=_id scope=scope label="Assignées" status="contributors" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardActionsItem _id=_id scope=scope label="En cours (à valider)" status="toValidated" classBar="progress-bar-stable" classFill="progress-bar-fill-energized"}}
    </div>
  {{/if}}
</template>

<template name="scopeBoardActionsItem">
  {{#unless noVisible}}
    <div class="row">
      <div class="col col-25 col-center">{{label}}</div>
      <div class="col col-20 col-center text-center">{{countActionsStatus status}}</div>
      <div class="col col-center text-center">
        <div class="progress-bar {{classBar}}">
          <span class="progress-bar-fill {{classFill}}"
            style="width: {{pourActionsStatus 'all' status}}%;">{{pourActionsStatus 'all' status}}%</span>
        </div>
      </div>
    </div>
  {{/unless}}
</template>

<template name="scopeBoardUserActions">
  {{#if countUserActionsStatus 'all' userId}}
    <div class="item item-divider item-light">
      <h2 class="searchuser-js"><i class="fa fa-user"></i> {{userItem.name}}</h2> <span
        class="badge badge-stable">{{countUserActionsStatus 'all' userId}}</span>
    </div>

    <div class="">
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="Valider" status="validated" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="Refuser" status="novalidated" classBar="progress-bar-stable" classFill="progress-bar-fill-assertive"}}
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="En cours" status="inProgress" classBar="progress-bar-stable" classFill=""}}
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="A valider" status="toModerate" classBar="progress-bar-stable" classFill="progress-bar-fill-energized"}}
    </div>
  {{/if}}
</template>

<template name="scopeBoardUserActionsItem">
  {{#if countUserActionsStatus status userId}}
    <div class="row">
      <div class="col col-25 col-center">{{label}}</div>
      <div class="col col-20 col-center text-center">{{countUserActionsStatus status userId}}</div>
      <div class="col col-center text-center">
        <div class="progress-bar {{classBar}}">
          <span class="progress-bar-fill {{classFill}}"
            style="width: {{pourUserActionsStatus 'all' status userId}}%;">{{pourUserActionsStatus 'all' status userId}}%</span>
        </div>
      </div>
    </div>
  {{/if}}
</template>

<template name="scopeCreator">
  {{#if organizer}}
    <p>{{__ "organizer"}} :
      {{#each organizerItem in organizer}}
        {{#each organizerItemValue in organizerItem.values}}
          <a href="{{pathFor 'detailList' _id=organizerItemValue._id._str scope=organizerItem.type}}"
            class="positive">{{htmlToText organizerItemValue.name}}</a>
        {{/each}}
      {{/each}}
    </p>
  {{else}}
    {{#if creatorProfile}}
      <p>{{__ "creator"}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id._str scope='citoyens'}}"
          class="positive">{{htmlToText creatorProfile.name}}</a></p>
    {{/if}}
  {{/if}}
</template>

<template name="scopeEventsParent">
  {{#if eventsParent}}
    <p>{{__ "on the program of"}} :
      {{#each organizerItem in eventsParent}}
        {{#each organizerItemValue in organizerItem.values}}
          <a href="{{pathFor 'detailList' _id=organizerItemValue._id._str scope=organizerItem.type}}"
            class="positive">{{organizerItemValue.name}}</a>
        {{/each}}
      {{/each}}
    </p>
  {{/if}}

</template>

<template name="scopeFileUpload">
  <form>
    <input type="file" id="file-upload" accept="image/*" style="display: block; opacity: 0;width:0px;height:0px;">
  </form>
</template>