<template name="listFollows">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "follows"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="padding">
          <div class="list">
            <div class="item item-divider">
              <i class="icon ion-ios-people"></i> {{__ "follows"}} <span
                class="badge badge-dark">{{citoyens.countFollows}}</span>
            </div>
            {{#transition in="zoomIn" out="bounceOut"}}
              {{#each citoyens.listFollows}}
                <div class="item item-avatar item-button-right animated out">
                  {{> imgDoc}}
                  <h2><a href="{{pathFor 'detailList' _id=_id._str scope='citoyens'}}" class="dark">{{name}}</a></h2>
                  {{#if onlineFollows}}
                    <span class="badge badge-balanced">{{__ "online"}}</span>
                  {{else}}

                  {{/if}}
                  <button class="button button-positive unfollowperson-link">
                    <i class="icon fa fa-unlink"></i>
                  </button>
                </div>
              {{/each}}
            {{/transition}}
          </div>
        </div>

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>