<template name="imgDoc">
  {{#if profilThumbImageUrl}}
    <img src="" data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}" class="">
  {{else}}
    {{#with this.imageDoc}}
      {{#if equals ../resized '80x80'}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{else if  equals ../resized '50x50'}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{else if  equals ../resized '340x340'}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{else}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{/if}}

  {{else}}
    {{#with imageDoc}}
      {{#if equals ../resized '80x80'}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{else if  equals ../resized '50x50'}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{else if  equals ../resized '340x340'}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{else}}
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      {{/if}}
  {{else}}
    <img data-src="/pas-de-photo{{#if resized}}{{resized}}{{else}}50x50{{/if}}.png">
    {{/with}}
    {{/with}}
  {{/if}}
</template>