<template name="assignUserDashboard">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Assign"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list">
          <div class="item item-divider">
            <i class="icon ion-ios-people"></i> {{__ "Add to dashboard view"}} <span
              class="badge badge-dark">{{countMembers search}}</span>
          </div>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="search" type="text" placeholder="Chercher un membre..." value="{{search}}">
          </label>
          {{#transition in="zoomIn" out="bounceOut"}}
            {{#each listAssign search}}
              <div class="item item-avatar item-button-right animated out">
                {{> imgDoc}}
                <h2><a href="{{pathFor 'detailList' _id=_id._str scope='citoyens'}}" class="dark">{{name}}</a></h2>
                {{#if assignDash}}
                  <button class="button button-dark unassigndashmember-js">
                    <i class="icon fa fa-unlink"></i>
                  </button>
                {{else}}
                  <button class="button button-positive assigndashmember-js">
                    <i class="icon ion-person-add"></i>
                  </button>
                {{/if}}
              </div>
            {{/each}}
          {{/transition}}
        </div>

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>