<template name="newsList">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{#if scope.name}}{{htmlToText scope.name}}{{/if}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#if dataReadyScopeDetail}}

    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        {{#if equals scope.scopeVar 'citoyens'}}
          {{#if scope.isMe}}
            <div class="item tabs tabs-icon-bottom">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailList' _id=scope._id._str scope=scope.scopeVar}}" id="scopeDetailTemplate"><i
                  class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'organizationsList' _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                {{__ "scope.menu.My Organizations"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'actionsList' _id=scope._id._str scope=scope.scopeVar}}" id="scopeActionsTemplate"><i
                  class="icon fa fa-inbox"></i> {{__ "scope.menu.Personal Actions"}}</a>
            </div>
          {{/if}}
          {{> Template.dynamic template=selectview data=scope}}

        {{else if equals scope.scopeVar 'organizations'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailList' _id=scope._id._str scope=scope.scopeVar}}" id="scopeDetailTemplate"><i
                  class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              {{#if settingOceco.organizationAction}}
                <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'actionsList' _id=scope._id._str scope=scope.scopeVar}}" id="scopeActionsTemplate"><i
                    class="icon fa fa-inbox"></i> {{__ "actions"}}</a>
              {{/if}}
              <a class="tab-item {{#if equals selectview 'scopeNotificationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notificationsList' _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeNotificationsTemplate"><i class="icon fa fa-bell"></i> {{__ "scope.menu.Notifications"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeProjectsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'projectsList' _id=scope._id._str scope=scope.scopeVar}}" id="scopeProjectsTemplate"><i
                  class="icon fa fa-lightbulb-o"></i> {{__ "project" count=2}}</a>
              {{#if settingOceco.organizationForms}}
                <a class="tab-item {{#if equals selectview 'scopeFormsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'formsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                  id="scopeFormsTemplate"><i class="icon fa fa-question"></i> {{__ "scope.menu.Forms"}}</a>
              {{/if}}
              {{#if settingOceco.subOrganization}}
                {{#if settingOceco.subOrganizationsTxt}}
                  {{#if settingOceco.subOrganizationsTxt.textTitre}}
                    <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                      href="{{pathFor 'organizationsList' _id=scope._id._str scope=scope.scopeVar}}"
                      id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                      {{settingOceco.subOrganizationsTxt.textTitre}}</a>
                  {{else}}
                    <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                      href="{{pathFor 'organizationsList' _id=scope._id._str scope=scope.scopeVar}}"
                      id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                      {{__ "scope.menu.Sub-organizations"}}</a>
                  {{/if}}
                {{else}}
                  <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                    href="{{pathFor 'organizationsList' _id=scope._id._str scope=scope.scopeVar}}"
                    id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                    {{__ "scope.menu.Sub-organizations"}}</a>
                {{/if}}
              {{/if}}
            </div>
          </div>
          {{#if scope.isAdmin}}
            {{#if scope.listMembersToBeValidatedCount}}
              <a class="item item-icon-left item-dark"
                href="{{pathFor 'notificationsList' _id=scope._id._str scope=scope.scopeVar}}"><i
                  class="icon fa fa-user-check"></i> {{scope.listMembersToBeValidatedCount}} membre(s) à valider</a>
            {{/if}}
          {{/if}}
          {{> Template.dynamic template=selectview data=scope}}
        {{else if equals scope.scopeVar 'projects'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeDetailTemplate"><i class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              {{#if settingOceco.projectAction}}
                <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                  id="scopeActionsTemplate"><i class="icon fa fa-inbox"></i> {{__ "actions"}}</a>
              {{/if}}
              <a class="tab-item {{#if equals selectview 'scopeNotificationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notificationsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeNotificationsTemplate"><i class="icon fa fa-bell"></i> {{__ "scope.menu.Notifications"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeProjectsContributorsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'contributorsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeProjectsContributorsTemplate"><i class="icon fa fa-users"></i> {{__ "contributors"}}</a>

              <a class="tab-item {{#if equals selectview 'scopeEventsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'eventsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeEventsTemplate"><i class="icon fa fa-calendar"></i> {{__ "events"}}</a>
              {{#if settingOceco.projectForms}}
                <a class="tab-item {{#if equals selectview 'scopeFormsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'formsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                  id="scopeFormsTemplate"><i class="icon fa fa-question"></i> {{__ "scope.menu.Forms"}}</a>
              {{/if}}
              {{#if settingOceco.milestonesProject}}
                <a class="tab-item {{#if equals selectview 'scopeProjectMilestonesTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'projectsMilestonesListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                  id="scopeProjectMilestonesTemplate"><i class="icon fa fa-flag"></i>
                  {{__ "scope.menu.Milestones"}}</a>
              {{/if}}
            </div>
          </div>
          {{#if scope.isAdmin}}
            {{#if scope.listMembersToBeValidatedCount}}
              <a class="item item-icon-left item-dark"
                href="{{pathFor 'notificationsList' _id=scope._id._str scope=scope.scopeVar}}"><i
                  class="icon fa fa-user-check"></i>
                {{__ "scope.contributor to validate" count=scope.listMembersToBeValidatedCount}}</a>
            {{/if}}
          {{/if}}
          {{> Template.dynamic template=selectview data=scope}}
        {{else if equals scope.scopeVar 'events'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeDetailTemplate"><i class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeNotificationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notificationsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeNotificationsTemplate"><i class="icon fa fa-bell"></i> {{__ "scope.menu.Notifications"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeActionsTemplate"><i class="icon fa fa-inbox"></i> {{__ "actions"}}</a>
            </div>
          </div>
          {{> Template.dynamic template=selectview data=scope}}
        {{else if equals scope.scopeVar 'forms'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeDetailTemplate"><i class="icon fa fa-home"></i> {{__ "scope.menu.DetailForm"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeAnswersTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'answersListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeAnswersTemplate"><i class="icon fa fa-inbox"></i> {{__ "scope.menu.Answers"}}</a>

              <a class="tab-item {{#if equals selectview 'scopeAssessTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'assessListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
                id="scopeAssessTemplate"><i class="icon fas fa-vote-yea"></i> {{__ "scope.menu.Assess"}}</a>

            </div>
          </div>
          {{> Template.dynamic template=selectview data=scope}}
        {{/if}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="scopeDetailTemplate">
  {{> Template.dynamic template=scopeCardTemplate data=this}}
</template>

<template name="scopeNotificationsTemplate">
  <div class="list">

    {{> Template.dynamic template=scopeBoutonNotificationsTemplate data=this}}

    {{#if isAdmin}}
      {{#if listMembersToBeValidated}}
        <div class="item item-divider homestead">
          {{__ "Waiting for a response"}}
        </div>
        {{#transition in="zoomIn" out="bounceOut"}}
          {{#each listMembersToBeValidated}}
            <div class="item item-avatar item-text-wrap animated out">
              {{> imgDoc profilThumbImageUrl=profilThumbImageUrl }}
              <p><a href="{{pathFor 'detailList' _id=_id._str scope='citoyens'}}" class="dark">{{name}}</a>
                {{#if equals ../scopeVar 'organizations'}}
                  {{#if ../isAdminPending _id._str}}
                    {{__ "wants to become a member of the organization"}}
                  {{else}}
                    {{__ "wants to become a admin of the organization"}}
                  {{/if}}
                {{/if}}
                {{#if equals ../scopeVar 'projects'}}
                  {{#if ../isAdminPending _id._str}}
                    {{__ "wants to become a contributor to the project"}}
                  {{else}}
                    {{__ "wants to become a admin to the project"}}
                  {{/if}}
                {{/if}}
              </p>
            </div>
            <div class="button-bar bar-clear">
              <button class="button button-small validateYes"><i class="icon fa fa-check balanced"></i></button>
              <button class="button button-small validateNo"><i class="icon fa fa-remove positive"></i></button>
            </div>
          {{/each}}
        {{/transition}}
      {{/if}}
    {{/if}}

    {{#if listNotifications}}
      <div class="item item-divider homestead">
        <i class="icon fa fa-bell"></i> {{__ "notifications"}} <span
          class="badge badge-dark">{{countListNotifications}}</span>
      </div>
      {{> notificationsList notifications=listNotifications}}
    {{/if}}

  </div>
</template>

<template name="scopeOrganizationsTemplate">
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-users"></i>
      {{#if equals scopeVar 'organizations'}}
        {{#if settingOceco.subOrganization}}
          {{#if settingOceco.subOrganizationsTxt}}
            {{#if settingOceco.subOrganizationsTxt.textTitre}}
              {{settingOceco.subOrganizationsTxt.textTitre}}
            {{else}}
              {{__ "organizations"}}
            {{/if}}
          {{else}}
            {{__ "organizations"}}
          {{/if}}
        {{/if}}
      {{else}}
        {{__ "organizations"}}
      {{/if}}
      <span class="badge badge-dark">{{countOrganizationsCreator}}</span>
    </div>
    {{#if dataReady}}
      {{#if equals scopeVar 'organizations'}}

        {{#if isAdmin}}
          <div class="button-bar bar-positive">
            <a href="{{pathFor 'sousOrganizationsAdd' orgaCibleId=orgaCibleId}}" class="button"><i
                class="fa fa-plus"></i>
              {{__ "scope.Add a sub organization"}}</a>
          </div>
        {{/if}}

        {{#each listOrganizationsCreator}}

          <div class="item item-avatar{{#if ../isAdmin}} item-button-right{{/if}}">
            {{> imgDoc profilThumbImageUrl=profilThumbImageUrl}}
            {{#if oceco}}
              <h2><a href="{{pathFor 'switchRedirect' _id=_id._str}}" class="dark">{{name}}</a></h2>
            {{else}}
              <h2>{{name}}</h2>
            {{/if}}

            {{#if isAdmin}}
              <span class="positive"><i class="icon fa fa-circle"></i></span>
            {{/if}}
            {{#if ../isAdmin}}

              <button class="button button-positive action-config-oceco-js"><i class="icon fa fa-cog"></i></button>

            {{/if}}

          </div>

        {{/each}}
      {{else}}
        {{> directoryList list=listOrganizationsCreator isConnect="isMembers" person=false scope="organizations"}}
      {{/if}}

    {{/if}}
  </div>
</template>

<template name="scopeProjectsTemplate">
  {{> boutonProjectorganizations}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-lightbulb-o"></i> {{__ "project" count=countProjectsCreator}} <span
        class="badge badge-dark">{{countProjectsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonProjectsTemplate data=this}}

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input id="search" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{searchProjects}}">
    </label>
    {{#if dataReady}}
      {{#transition in="zoomIn" out="bounceOut"}}
        {{#each item in listProjectsCreator searchProjects}}
          {{> scopeItemList item=item scope="projects"}}
        {{else}}

        {{/each}}
      {{/transition}}
    {{/if}}
  </div>
</template>

<template name="scopeEventsTemplate">
  {{#if isContributors}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'eventsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
          {{__ "Add event"}}</a>
      </div>
    {{/if}}
  {{/if}}

  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "events"}} {{htmlToText name}} <span
        class="badge badge-dark">{{countEventsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonEventsTemplate data=this}}
    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listEventsCreator}}
        {{> scopeItemListEvent item=item}}
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeFormsTemplate">
  {{> boutonCardforms}}

  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "Forms"}} {{htmlToText name}} <span
        class="badge badge-dark">{{countForms}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonFormsTemplate data=this}}
    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listForms}}
        {{> scopeItemListForm item=item}}
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeProjectsEventsTemplate">
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "events"}} {{htmlToText name}} <span
        class="badge badge-dark">{{countEventsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonEventsTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listProjectsEventsCreator}}
        {{> scopeItemList item=item count=item.countAttendeesSimple}}
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeActionsTemplate">
  {{> boutonCardactions}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "actions"}}<span
        class="badge badge-dark">{{countActionsCreator selectsubview 'todo' search}}</span>
    </div>

    {{#if nequals scopeVar 'citoyens'}}
      {{#if settingOceco.spendView}}
        <div class="item tabs">
          {{#if settingOceco.listingElementActions}}
            {{#if settingOceco.listingElementActions.tabProgrammes}}
              <a class="tab-item {{#if equals selectsubview 'aFaire'}}tab-item-active{{/if}} change-selectsubview-js"
                id="aFaire">{{settingOceco.listingElementActions.tabProgrammes}} <span
                  class="positive">({{countActionsCreator 'aFaire' 'todo' ''}})</span></a>
            {{else}}
              <a class="tab-item {{#if equals selectsubview 'aFaire'}}tab-item-active{{/if}} change-selectsubview-js"
                id="aFaire">{{__ "Scheduled"}} <span
                  class="positive">({{countActionsCreator 'aFaire' 'todo' ''}})</span></a>
            {{/if}}
            {{#if settingOceco.listingElementActions.tabDepenses}}
              <a class="tab-item {{#if equals selectsubview 'depenses'}}tab-item-active{{/if}} change-selectsubview-js"
                id="depenses">{{settingOceco.listingElementActions.tabDepenses}} <span
                  class="positive">({{countActionsCreator 'depenses' 'todo' ''}})</span></a>
            {{else}}
              <a class="tab-item {{#if equals selectsubview 'depenses'}}tab-item-active{{/if}} change-selectsubview-js"
                id="depenses">{{__ "Spend"}} <span
                  class="positive">({{countActionsCreator 'depenses' 'todo' ''}})</span></a>
            {{/if}}
          {{else}}
            <a class="tab-item {{#if equals selectsubview 'aFaire'}}tab-item-active{{/if}} change-selectsubview-js"
              id="aFaire">{{__ "Scheduled"}} <span
                class="positive">({{countActionsCreator 'aFaire' 'todo' ''}})</span></a>
            <a class="tab-item {{#if equals selectsubview 'depenses'}}tab-item-active{{/if}} change-selectsubview-js"
              id="depenses">{{__ "Spend"}} <span
                class="positive">({{countActionsCreator 'depenses' 'todo' ''}})</span></a>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}

    {{>searchActions}}
    {{#if searchMaintenance}}
      {{>actionsMaintenance}}
    {{else}}
      {{#if equals selectsubview 'aFaire'}}

        {{#each item in listActionsCreator selectsubview 'todo' search searchSort}}

          {{> itemInputAction action=item}}

        {{else}}
          {{#if isAdmin}}
            {{#if search}}
              <div class="item button-bar bar-stable">
                <a href="{{pathFor 'actionsAdd' _id=scopeId scope=scopeVar}}" class="button button-stable"><i
                    class="fa fa-plus"></i> {{__ "Create the action from your research"}}</a>
              </div>
            {{/if}}
          {{/if}}

          <div class="item text-center">
            {{__ "No results"}}
          </div>

        {{/each}}

      {{else if equals selectsubview 'depenses'}}
        {{#each item in listActionsCreator selectsubview 'todo' search searchSort}}

          {{> itemInputAction action=item}}
        {{/each}}
      {{/if}}

    {{/if}}

  </div>
</template>

<template name="scopeAnswersTemplate">
  {{> boutonCardanswers}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-inbox"></i> {{__ "Answers"}}<span class="badge badge-dark">{{countAnswers search}}</span>
    </div>

    {{>searchAnswers}}

    {{#each item in listAnswers search searchSort}}
      {{> scopeItemListAnswer answer=item scopeParentId=_id._str scopeParentVar=scopeVar}}

    {{else}}

      <div class="item text-center">
        {{__ "No results"}}
      </div>

    {{/each}}

  </div>
</template>

<template name="scopeAssessTemplate">
  {{> boutonCardassess}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fas fa-vote-yea"></i> {{__ "answers.Assess"}}
    </div>

    <div class="item">
      {{__ "answers.Cumulative evaluation"}}
    </div>

    <div class="row row-center row-no-padding">
      <div class="col">

        <div class="row row-center row-alternate row-alternate-positive responsive-sm row-summary">
          <div class="col col-20 col-summary"></div>
          {{#each evaluationCritereArray}}

            <div class="col padding col-summary">
              {{label}}
            </div>

          {{/each}}

          <div class="col padding col-summary">{{__ "answers.Global average"}}</div>
        </div>
        {{#each item in listAnswers}}

          {{#with item}}

            {{#if totalEvaluation}}

              <div class="row row-center row-alternate responsive-sm">
                <div class="col col-20 padding"><a
                    href="{{pathFor 'answersDetailOrga' orgaCibleId=orgaCibleId _id=../_id._str scope=../scopeVar answerId=_id._str}}"
                    class="dark">{{answers.aapStep1.titre}}</a>
                </div>
                {{#each ../evaluationCritereArray}}

                  <div class="col padding">
                    {{#if ../totalEvaluation label}}<span class="col-title">{{label}}</span> <span
                        class="badge badge-positive">{{../totalEvaluation label}}</span>{{/if}}
                  </div>

                {{/each}}

                <div class="col padding">
                  <span class="col-title">{{__ "answers.Global average"}}</span> <span
                    class="badge badge-positive">{{totalEvaluation.totalArray}} / 5
                  </span>
                  {{#if totalEvaluation.nombreVote}}
                    <p><small>({{totalEvaluation.nombreVote}} {{__ "answers.evaluation"}})</small></p>
                  {{/if}}
                </div>
              </div>

            {{/if}}
          {{/with}}

        {{else}}

          <div class="item text-center">
            {{__ "No results"}}
          </div>

        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="scopeItemListAnswer">
  {{#with answer}}
    <div class="item item-content {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2><a
          href="{{pathFor 'answersDetailOrga' orgaCibleId=orgaCibleId _id=../scopeParentId scope=../scopeParentVar answerId=_id._str}}"
          class="dark">{{answers.aapStep1.titre}}</a>
      </h2>
      {{#if answers.aapStep1.description}}
        <p>{{answers.aapStep1.description}}</p>
      {{/if}}

      <p><i class="fa fa-user"></i> {{__ "By"}} {{creatorProfile.name}} {{__ "On_date"}} <i class="fa fa-calendar"></i>
        {{createdFormat}}
      </p>
      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp formatStartDateIso}})<br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{formatEndDate}}
              ({{livestamp formatEndDateIso}}) <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp formatStartDateIso}})
            <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}

      {{#if answers.aapStep1.tags}}
        <p class="padding-top">
          {{#each answers.aapStep1.tags}}
            <span class="badge-simple badge-positive searchtag-js"><i class="icon-simple fa fa-tag"></i>{{this}}</span>
          {{/each}}
        </p>
      {{/if}}

      {{#if answers.aapStep1.urgency}}
        <p class="padding-top">
          {{#each answers.aapStep1.urgency}}
            {{#if equals this 'Urgent'}}
              {{#with priorityAnswersKey "urgency"}}
                <p class="padding-top">
                  <span class="badge-simple badge-{{color}} searchpriority-js"><i
                      class=" icon-simple {{icon}}"></i>{{__ tradKey}}</span>
                </p>
              {{/with}}
            {{/if}}
          {{/each}}
        </p>
      {{/if}}

      {{#if isArray status}}
        <p class="padding-top">
          {{#each status}}
            {{#with statusAnswersKey this}}
              <span class="badge-simple badge-{{color}} searchstatus-js"><i
                  class=" icon-simple {{icon}}"></i>{{__ status}}</span>
            {{/with}}
          {{/each}}
        </p>
      {{/if}}

      {{#if acceptation}}
        {{#with acceptationAnswersKey acceptation}}
          <p class="padding-top">
            <span class="badge-simple badge-{{color}} searchacceptation-js"><i
                class=" icon-simple {{icon}}"></i>{{__ tradKey}}</span>
          </p>
        {{/with}}
      {{/if}}

    </div>
  {{/with}}
</template>

<template name="searchAnswers">
  <label class="item item-input search">
    <i class="icon ion-search placeholder-icon {{#if search}}positive{{/if}}"></i>
    <input id="search" type="text" placeholder="{{__ 'search_answer_placeholder'}}" value="{{search}}"
      autocomplete="off">
    <button class="button button-clear {{#if sortActived}}button-positive{{/if}}" data-ion-modal="searchAnswersSort"><i
        class="icon fa fa-sort-alpha-asc"></i></button>
  </label>

  {{#if searchStatus}}
    <div class="item item-divider">
      {{__ "Filter by status"}}
    </div>
    {{#each statusAnswers}}
      <div class="item item-icon-left item-calm searchstatus-js">
        <i class="icon {{icon}}"></i> {{__ status}}
      </div>
    {{/each}}

  {{else if searchPriority}}
    <div class="item item-divider">
      {{__ "priority.Filter by priority"}}
    </div>
    {{#each priorityAnswers}}
      <div class="item item-icon-left item-calm searchpriority-js">
        <i class="icon {{icon}}"></i> {{__ tradKey}}
      </div>
    {{/each}}

  {{else if searchAcceptation}}
    <div class="item item-divider">
      {{__ "acceptation.Filter by acceptation"}}
    </div>
    {{#each acceptationAnswers}}
      <div class="item item-icon-left item-calm searchacceptation-js">
        <i class="icon {{icon}}"></i> {{__ tradKey}}
      </div>
    {{/each}}

  {{else if searchHelp}}
    <div class="item item-divider">
      {{__ "Filter answers"}}
    </div>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="#">
      <i class="icon fa fa-filter"></i> {{__ "by tags"}} <code>#</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="!">
      <i class="icon fa fa-filter"></i> {{__ "by status"}} <code>!</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action=">">
      <i class="icon fa fa-filter"></i> {{__ "acceptation.by acceptation"}} <code>></code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="~">
      <i class="icon fa fa-filter"></i> {{__ "priority.by priority"}} <code>~</code>
    </a>
  {{/if}}

</template>

<template name="searchAnswersSortItemToggle">
  <div class="item item-toggle">
    {{label}}
    <label class="toggle toggle-balanced">
      <input id="{{type}}.{{field}}" class="sort-checked-js" type="checkbox" checked="{{#if checked}}checked{{/if}}">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
  {{#if checked}}
    <div class="item item-checkbox item-text-wrap">
      <label class="checkbox">
        {{#if fieldDesc}}
          <input type="checkbox" class="sort-desc-js" value="true" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox" checked="checked">
        {{else}}
          <input type="checkbox" class="sort-desc-js" value="false" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox">
        {{/if}}
      </label>
      {{__ "descending sort"}}
    </div>
  {{/if}}
</template>

<template name="searchAnswersSort">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Sort"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-divider">
          {{__ "Sort answers by"}} {{#each orderType 'answers'}}{{label}} {{/each}}
        </div>
        {{#each searchSort.answers}}
          {{> searchAnswersSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}}
        {{/each}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name="scopeProjectsContributorsTemplate">
  {{> boutonProjectsContributors }}
  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "contributors"}} <span
        class="badge badge-dark">{{countContributors}}</span>
    </div>
    {{#if dataReady}}
      {{#transition in="zoomIn" out="bounceOut"}}
        {{#each listContributors}}
          <div class="item item-avatar item-button-right animated out">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id._str scope='citoyens'}}" class="dark">{{name}}</a>
              {{#if ../isAdmin}}{{#if ../isAdmin _id._str}}<span class="positive">[ADMIN]</span>{{/if}}{{/if}}
            </h2>
            {{#if ../isAdmin}}
              <button
                class="button button-small button-icon {{#if ../isAdmin _id._str}}project-contributors-admin-action-js{{else}}project-contributors-action-js{{/if}}"><i
                  class="icon fa fa-cog"></i></button>
            {{else}}

            {{/if}}
          </div>
        {{/each}}
      {{/transition}}
    {{/if}}
  </div>
</template>

<template name="boutonProjectsContributors">

  {{#if equals 'projects' scopeVar}}

    <div class="button-bar bar-positive">
      {{#if isAdmin}}
        <a href="{{pathFor 'invitations' _id=_id._str scope=scopeVar}}"
          class="button">{{> ionIcon icon="person-add"}}</a>
      {{else}}
        {{#if isMembers}}

        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="scopeProjectMilestonesTemplate">
  {{> boutonProjectMilestones }}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-flag"></i> {{__ "Milestones"}} <span
        class="badge badge-dark">{{countMilestones status search}}</span>
    </div>

    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'ocecoProjectEdit' _id=_id._str}}" class="button active"><i class="fa fa-plus"></i>
          {{__ "scope.Add a milestone"}}</a>
      </div>
    {{/if}}

    <div class="item tabs">
      <a class="tab-item {{#if equals selectsubview 'open'}}tab-item-active{{/if}} change-selectsubview-js"
        id="open">Ouvert <span class="positive">({{countMilestones 'open' search}})</span></a>
      <a class="tab-item {{#if equals selectsubview 'close'}}tab-item-active{{/if}} change-selectsubview-js"
        id="close">Fermé <span class="positive">({{countMilestones 'close' search}})</span></a>
      <a class="tab-item {{#if equals selectsubview 'all'}}tab-item-active{{/if}} change-selectsubview-js" id="all">Tous
        <span class="positive">({{countMilestones 'all' search}})</span></a>
    </div>

    {{#each item in listMilestones selectsubview search}}

      {{> milestoneItem milestone=item scope=this boutonsAction=boutonsAction}}

    {{else}}

      <div class="item text-center">
        {{__ "scope.No milestones on this project"}}
      </div>

    {{/each}}
  </div>
</template>

<template name="milestoneAssignActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Assigner jalon"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        {{#if dataReady}}

          {{>searchActions}}

          {{#each item in scope.listActionsCreator 'aFaire' 'todo' search searchSort 'noMilestone'}}

            {{> itemInputAction action=item boutonsAction=boutonsAction milestoneIdCible=milestoneId}}

          {{else}}

            <div class="item text-center">
              {{__ "No results"}}
            </div>

          {{/each}}

        {{else}}
          {{> loading}}
        {{/if}}

      </div>
    </div>
  {{/ionModal}}

</template>

<template name="milestoneMoveActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Move actions"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-text-wrap">{{__ "Move actions not completed"}}
          {{#if milestoneName}}
            {{__ "Move unfinished actions from milestoneName to another milestone" milestoneName=milestoneName}}
          {{else}}
            {{__ "Move unfinished actions to another milestone"}}
          {{/if}}
        </div>
        {{#each item in scope.listMilestones 'open' search}}
          {{#if nequals item.milestoneId milestoneId}}
            {{> milestoneItem milestone=item scope=scope boutonsAction=boutonsAction noBar=true oldMilestoneId=milestoneId}}
          {{/if}}
        {{else}}

          <div class="item text-center">
            {{__ "scope.No milestones on this project"}}
          </div>

        {{/each}}

      </div>
    </div>
  {{/ionModal}}

</template>

<template name="milestoneItem">

  <div class="item {{#if projectName}} item-icon-left item-stable item-text-wrap{{else}}item-button-right{{/if}}">
    {{#if projectName}}
      <h2><i class="icon fa fa-flag"></i> <a
          href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar}}"
          class="positive">{{htmlToText scope.name}}</a> :
        {{{htmlToText milestone.name}}}
      </h2> {{#if countActions}}<span class="badge badge-dark">{{countActions}}</span>{{/if}}
    {{else}}
      <h2><a
          href="{{pathFor 'projectsMilestonesListActionsOrga' orgaCibleId=orgaCibleId _id=scope._id._str scope=scope.scopeVar milestoneId=milestone.milestoneId}}"
          class="calm">{{milestone.name}}</a></h2>
      {{#unless noButton}}
        {{#if scope.isAdmin}}
          {{#if boutonsAction}}
            <div class="button {{boutonsAction.event}}"><i class="icon {{boutonsAction.icon}}"></i> </div>
          {{/if}}
        {{/if}}
      {{/unless}}
    {{/if}}
  </div>
  <div class="item {{#if projectName}}item-button-right{{/if}}">
    {{#if milestone.description}}
      <p>{{milestone.description}}</p>
    {{/if}}
    {{#if milestone.startDate}}
      <p>{{__ "schemas.global.startDate.label"}} : {{formatMilestoneDate milestone.startDate}}
        <strong>{{livestamp milestone.startDate}}</strong>
      </p>
    {{/if}}
    {{#if milestone.endDate}}
      <p>{{__ "schemas.global.endDate.label"}} : {{formatMilestoneDate milestone.endDate}}
        <strong>{{livestamp milestone.endDate}}</strong>
      </p>
    {{/if}}
    {{#if milestone.status}}
      <span class="badge-simple badge-{{badgeStatus milestone.status}}"><i class="icon fa fa-flag"></i>
        {{__ milestone.status}}</span>
    {{/if}}
    {{#if isEndDate}}
      <span class="badge-simple badge-assertive"><i class="icon fa fa-clock"></i> {{__ "Expired"}}</span>
    {{/if}}
    {{#if isNotStartDate}}
      <span class="badge-simple badge-royal"><i class="icon fa fa-clock"></i> {{__ "Upcoming"}}</span>
    {{/if}}
    {{#if isInProgress}}
      <span class="badge-simple badge-energized"><i class="icon fa fa-clock"></i> {{__ "In progress"}}</span>
    {{/if}}

    {{#if projectName}}
      {{#unless noButton}}
        {{#if scope.isAdmin}}
          {{#if boutonsAction}}
            <div class="button {{boutonsAction.event}}"><i class="icon {{boutonsAction.icon}}"></i> </div>
          {{/if}}
        {{/if}}
      {{/unless}}
    {{/if}}

    {{#unless noBar}}
      {{> scopeBoardActionsItem _id=scope._id._str scope=scope.scopeVar label=(__ "Total") status="all" milestoneId=milestone.milestoneId classBar="progress-bar-stable" classFill="progress-bar-fill-dark" noVisible="1"}}
      {{> scopeBoardActionsItem _id=scope._id._str scope=scope.scopeVar label=(__ "done") status="done" milestoneId=milestone.milestoneId classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardActionsItem _id=scope._id._str scope=scope.scopeVar label=(__ "todo") status="todo" milestoneId=milestone.milestoneId classBar="progress-bar-stable" classFill=""}}
    {{/unless}}

  </div>
</template>

<template name="boutonProjectMilestones">

  {{#if equals 'projects' scopeVar}}

    <div class="button-bar bar-positive">
      {{#if isAdmin}}

      {{else}}
        {{#if isMembers}}

        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="scopeGamesTemplate">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-play"></i> {{__ "games.game"}} {{name}} <span
        class="badge badge-dark">{{countGamesCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonGamesTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listGamesCreator}}
        <a class="item animated in out" href="{{pathFor 'gamesDetail' _id=item._id._str}}">
          <h2>
            <i class="icon fa fa-play"></i> {{item.name}}
          </h2>
        </a>
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeRoomsTemplate">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-university"></i> {{__ "rooms"}} {{name}} <span class="badge badge-dark">{{countRooms}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonRoomsTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listRooms}}
        <a class="item animated in out"
          href="{{pathFor 'roomsDetail' _id=item.parentId scope=item.parentType roomId=item._id._str}}">
          {{#if item.roles}}
            <h2><i class="icon fa fa-lock"></i> {{item.name}}</h2>
            <p>{{item.rolesJoin}}</p>
          {{else}}
            <h2><i class="icon fa fa-hashtag"></i> {{item.name}}</h2>
          {{/if}}
        </a>
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeEventsTemplateCopy">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-calendar"></i> {{__ "events"}} {{name}} <span
        class="badge badge-dark">{{countEventsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonEventsTemplate data=this}}

    {{> directoryList list=listEventsCreator isConnect="isAttendees" person=false scope="events"}}
  </div>
</template>

<template name="scopeFilActusTemplate">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-rss"></i> {{__ "Fil d'actus"}} {{name}}
    </div>

    {{> Template.dynamic template=scopeBoutonNewsTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each newsActus}}
        {{> newsItem}}

      {{/each}}
    {{/transition}}

  </div>
  {{#if dataReady}}
    {{#if isLimit countNews}}
      <div class="padding">
        <button id="showMoreResultslimitFilActus" class="button button-block button-dark give-me-more-actus">
          {{__ "more"}}...
        </button>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="scopeNewsTemplate">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-rss"></i> {{__ "news"}} {{name}} <span class="badge badge-dark">{{countNews}}</span>
    </div>

    {{> Template.dynamic template=scopeBoutonNewsTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each newsJournal}}
        {{> newsItem}}

      {{/each}}
    {{/transition}}

  </div>
  {{#if dataReady}}
    {{#if isLimit countNews}}
      <div class="padding">
        <button id="showMoreResults" class="button button-block button-dark give-me-more">
          {{__ "more"}}...
        </button>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="newsItem">
  <a href="{{pathFor 'newsDetail' _id=target.id newsId=_id._str scope=target.type}}"
    class="item animated in {{#if photoNewsAlbums.[0].name}}item-thumbnail-left{{else if authorNews.profilThumbImageUrl}}item-avatar{{/if}}">
    {{#if photoNewsAlbums.[0].name}}
      {{> imgDoc imageDoc=photoNewsAlbums.[0] resized="80x80"}}
    {{else if profilThumbImageUrl}}
      {{> imgDoc profilThumbImageUrl=profilThumbImageUrl resized="80x80"}}
    {{else if authorNews.profilThumbImageUrl}}
      {{> imgDoc profilThumbImageUrl=authorNews.profilThumbImageUrl resized="80x80"}}
    {{/if}}

    {{#if equals type 'activityStream'}}
      {{#if equals object.type 'proposals'}}
        <h2>{{objectNews.title}}</h2>
      {{else}}
        <h2>{{objectNews.name}}</h2>
      {{/if}}
    {{else}}
      <h2>{{#if name}}{{cutString name 50}}{{/if}}</h2>
      {{#if text}}
        <p>{{cutString text 140}}</p>
      {{/if}}
    {{/if}}

    {{#each tags}}
      <span class=""><i class="icon ion-pound"></i> {{this}}</span>
    {{/each}}

    {{#if equals type 'activityStream'}}
      {{> newsActivityStream}}
    {{else}}
      <p>{{__ "author"}} : {{authorNews.name}}</p>
      {{#if nequals authorNews.name targetNews.name}}
        <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}" class="positive">{{targetNews.name}}</a>
        </p>
      {{/if}}
    {{/if}}
    <p><i class="icon ion-clock"></i> {{livestamp created}}</p>
  </a>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="{{pathFor 'newsDetailComments' _id=target.id newsId=_id._str scope=target.type}}">
      <i class="icon fa fa-comment"></i>
      {{commentsCount}}
    </a>
    <a class="tab-item" href="{{pathFor 'newsDetail' _id=target.id newsId=_id._str scope=target.type}}">
      <i class="icon ion-thumbsup"></i>
      {{likesCount}}
    </a>
    <a class="tab-item" href="{{pathFor 'newsDetail' _id=target.id newsId=_id._str scope=target.type}}">
      <i class="icon ion-thumbsdown"></i>
      {{dislikesCount}}
    </a>
  </div>
</template>

<template name="newsActivityStream">
  {{#if equals verb 'share'}}
    {{#if equals object.type 'news'}}
      <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}" class="positive">{{targetNews.name}}</a> <a
          href="{{pathFor 'newsDetail' _id=object.authorId newsId=object.id scope=object.authorType}}">{{i18npref 'activitystream.verb' verb}}
          {{i18npref 'activitystream.type' object.type}}</a> :
        <a href="{{pathFor 'detailList' _id=object.authorId scope=object.authorType}}"
          class="positive">{{objectNews.authorName}}</a>
      </p>
    {{else}}
      <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}" class="positive">{{targetNews.name}}</a>
        {{i18npref 'activitystream.verb' verb}}
        {{i18npref 'activitystream.type' object.type}} : <a
          href="{{pathFor 'detailList' _id=object.id scope=object.type}}" class="positive">{{objectNews.name}}</a>
      </p>
    {{/if}}
  {{else}}
    <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}" class="positive">{{targetNews.name}}</a>
      {{i18npref 'activitystream.verb' verb}}
      {{i18npref 'activitystream.type' object.type}} :
      {{#if equals object.type 'rooms'}}
        <a href="{{pathFor 'roomsDetail' _id=target.id scope=target.type roomId=object.id}}"
          class="positive">{{objectNews.name}}</a>
      {{else if equals object.type 'actions'}}
        <a href="{{pathFor 'actionsDetail' _id=target.id scope=target.type roomId=objectNews.idParentRoom actionId=object.id}}"
          class="positive">{{objectNews.name}}</a>
      {{else if equals object.type 'proposals'}}
        <a href="{{pathFor 'proposalsDetail' _id=target.id scope=target.type roomId=objectNews.idParentRoom proposalId=object.id}}"
          class="positive">{{objectNews.title}}</a>
      {{else}}
        <a href="{{pathFor 'detailList' _id=object.id scope=object.type}}" class="positive">{{objectNews.name}}</a>
      {{/if}}
    </p>
  {{/if}}
</template>

<template name="newsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "post a news"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "post a news"}}
          </div>
          {{#if error}}
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          {{/if}}
          {{#autoForm id="addNew" schema=blockSchema type="method" meteormethod="insertNew" template="ionic" class="padding"}}
            {{> afQuickField name='text' type="textarea" label-type='placeholder' rows=8 class="atwho-inputor" autocomplete="off" autocorrect="off" spellcheck="false" autocapitalize="off"}}
            {{> afQuickField name='scope'}}
            {{#if equals scope.scopeVar 'organizations'}}
              {{#if scope.isAdmin}}
                {{> afQuickField type="select-radio" defaultValue="false" name='targetIsAuthor'}}
              {{/if}}
            {{/if}}
            {{#if equals scope.scopeVar 'projects'}}
              {{#if scope.isAdmin}}
                {{> afQuickField type="select-radio" defaultValue="false" name='targetIsAuthor'}}
              {{/if}}
            {{/if}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "publish"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="newsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "news"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "edit a news"}}
          </div>
          {{#if error}}
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          {{/if}}
          {{#autoForm id="editNew" schema=blockSchema type="method-update" meteormethod="updateNew" doc=new template="ionic" class="padding form-rb-plain"}}
            {{> newsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="newsFields">
  {{> afQuickField name='text' type="textarea" label-type='placeholder' rows=8 class="atwho-inputor" autocomplete="off" autocorrect="off" spellcheck="false" autocapitalize="off"}}
</template>

<template name="actionSheet">
  {{#if equals scopeVar 'events'}}
    {{#if isAdmin}}
      <a href="#" class="button button-positive action-card-events"><i class="icon fa fa-cog"></i></a>
    {{else}}

    {{/if}}
  {{else if equals scopeVar 'projects'}}
    {{#if isAdmin}}
      <a href="#" class="button button-positive action-card-projects"><i class="icon fa fa-cog"></i></a>
    {{else}}

    {{/if}}
  {{else if equals scopeVar 'organizations'}}
    {{#if isAdmin}}
      <a href="#" class="button button-positive action-card-organizations"><i class="icon fa fa-cog"></i></a>
    {{else}}

    {{/if}}
  {{else if equals scopeVar 'citoyens'}}
    {{#if isMe}}
      <a href="#" class="button button-positive action-card-citoyen"><i class="icon fa fa-cog"></i></a>
    {{/if}}
  {{/if}}
</template>

<template name="listCard">
  {{> scopeCard class="list card" scope=this}}
</template>

<template name="boutonCardactions">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'projects' scopeVar}}
        {{#if settingOceco.projectAction}}
          <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add action"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'events' scopeVar}}
        {{#if settingOceco.eventAction}}
          <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add action"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'organizations' scopeVar}}
        {{#if settingOceco.organizationAction}}
          <a href="{{pathFor 'usersView' _id=_id._str}}" class="button"><i class="icon fa fa-tachometer-alt"></i></a>
          <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add action"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'citoyens' scopeVar}}
        <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
          {{__ "Add action"}}</a>
      {{/if}}
      {{ else if isMembreOrga}}
      {{#if settingOceco.memberAddAction}}
        {{#if equals 'projects' scopeVar}}
          {{#if settingOceco.projectAction}}
            <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add action"}}</a>
          {{/if}}
        {{/if}}
        {{#if equals 'events' scopeVar}}
          {{#if settingOceco.eventAction}}
            <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add action"}}</a>
          {{/if}}
        {{/if}}
        {{#if equals 'organizations' scopeVar}}
          {{#if settingOceco.organizationAction}}
            <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add action"}}</a>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

</template>

<template name="boutonCardanswers">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'forms' scopeVar}}
        <a href="{{pathFor 'answersAdd' orgaCibleId=orgaCibleId _id=_id._str scope=scopeVar}}" class="button"><i
            class="fa fa-plus"></i>
          {{__ "answers.Add answer"}}</a>
      {{/if}}
      {{ else if isMembreOrga}}
      {{#if equals 'forms' scopeVar}}
        <a href="{{pathFor 'answersAdd' orgaCibleId=orgaCibleId _id=_id._str scope=scopeVar}}" class="button"><i
            class="fa fa-plus"></i>
          {{__ "answers.Add answer"}}</a>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="boutonCardassess">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'forms' scopeVar}}

      {{/if}}
      {{ else if isMembreOrga}}
      {{#if equals 'forms' scopeVar}}

      {{/if}}
    {{/if}}
  </div>
</template>

<template name="boutonCardforms">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'forms' scopeVar}}
        <a href="{{pathFor 'answersAdd' orgaCibleId=orgaCibleId _id=_id._str scope=scopeVar}}" class="button"><i
            class="fa fa-plus"></i>
          {{__ "answers.Add answer"}}</a>
      {{/if}}
      {{ else if isMembreOrga}}
      {{#if equals 'projects' scopeVar}}

      {{/if}}
      {{#if equals 'events' scopeVar}}

      {{/if}}
      {{#if equals 'organizations' scopeVar}}

      {{/if}}
    {{/if}}
  </div>

</template>

<template name="boutonCardeventsOld">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
        {{__ "Add action"}}</a>
    {{/if}}
  </div>

</template>

<template name="boutonCardevents">
  <div class="button-bar bar-positive">
    {{#if isAttendees}}
      <a href="{{pathFor 'listAttendees' _id=_id._str}}" class="button">{{> ionIcon icon="ios-people"}}
        {{__ "attendees"}}</a>
      <a href="{{pathFor 'invitations' _id=_id._str scope=scopeVar}}" class="button">{{> ionIcon icon="person-add"}}
        {{__ "Invite"}}</a>
      {{> boutonCard id=_id._str scope=scopeVar isConnect=isAttendees classOff="button-small saveattendees-link" classOn="button-small disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "Participate")}}

    {{else}}
      {{#if isInviting 'attendees' currentUser._id}}
        <button class="button button-small disabled">
          <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
        </button>
      {{else}}
        {{> boutonCard id=_id._str scope=scopeVar isConnect=isAttendees classOff="button-small saveattendees-link" classOn="button-small disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "Participate")}}
      {{/if}}
    {{/if}}

    {{#if isAdmin}}
      <a href="{{pathFor 'messages' _id=_id._str scope=scopeVar}}" class="button">{{> ionIcon icon="email"}}
        {{__ "Message"}}</a>
    {{/if}}
  </div>

  {{#if isInviting 'attendees' currentUser._id}}
    {{#transition in="zoomIn" out="bounceOut"}}
      <div class="list">
        {{#with InvitingUser 'attendees' currentUser._id}}
          <div class="item item-text-wrap animated out">
            <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
              {{#if isAdmin}}
                {{__ "invited you to become an administrator"}}
              {{else}}
                {{__ "invited you"}}
              {{/if}}
            </p>
          </div>
        {{/with}}
        <div class="button-bar bar-clear">
          {{> boutonCard id=_id._str scope=scopeVar isConnect=(isInviting 'attendees' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
          {{> boutonCard id=_id._str scope=scopeVar isConnect=(isInviting 'attendees' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
        </div>
      </div>
    {{/transition}}
  {{/if}}
</template>

<template name="boutonNewsevents">
  <div class="button-bar bar-positive">
    {{#if isAttendees}}
      <button class="button button-small photo-link-new">{{> ionIcon icon="camera"}}</button>
      <a href="{{pathFor 'newsAdd' _id=_id._str scope=scopeVar}}"
        class="button button-small">{{> ionIcon icon="compose"}}</a>
    {{/if}}
  </div>
  {{> scopeFileUploadNews}}
</template>

<template name="boutonCardorganizations">
  <div class="button-bar bar-positive">
    {{#if isMembers}}
      {{> boutonCard id=_id._str scope=scopeVar isConnect=isFollowersMe classOff="followperson-link" classOn="button-stable unfollowscope-link" iconOff="fa fa-rss" iconOn="fa fa-rss-square"}}
      {{#if isAdmin}}
        <a href="{{pathFor 'invitations' _id=_id._str scope=scopeVar}}" class="button">{{> ionIcon icon="person-add"}}
          {{__ "Invite"}}</a>
        <a href="{{pathFor 'messages' _id=_id._str scope=scopeVar}}" class="button">{{> ionIcon icon="email"}}
          {{__ "Message"}}</a>
      {{/if}}
    {{/if}}
  </div>

  {{#if isInviting 'members' currentUser._id}}
    {{#transition in="zoomIn" out="bounceOut"}}
      <div class="list">
        {{#with InvitingUser 'members' currentUser._id}}
          <div class="item item-text-wrap animated out">
            <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
              {{#if isAdmin}}
                {{__ "invited you to become an administrator"}}
              {{else}}
                {{__ "invited you"}}
              {{/if}}
            </p>
          </div>
        {{/with}}
        <div class="button-bar bar-clear">
          {{> boutonCard id=_id._str scope=scopeVar isConnect=(isInviting 'members' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
          {{> boutonCard id=_id._str scope=scopeVar isConnect=(isInviting 'members' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
        </div>
      </div>
    {{/transition}}
  {{/if}}

</template>

<template name="boutonProjectorganizations">
  {{#if equals 'organizations' scopeVar}}
    <div class="button-bar bar-positive">
      {{#if isMembers}}
        {{#if isAdmin}}
          <a href="{{pathFor 'projectsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add project"}}</a>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="boutonNewsorganizations">
  <div class="button-bar bar-positive">
    {{#if isMembers}}
      <button class="button button-small photo-link-new">{{> ionIcon icon="camera"}}</button>
      <a href="{{pathFor 'newsAdd' _id=_id._str scope=scopeVar}}"
        class="button button-small">{{> ionIcon icon="compose"}}</a>
    {{/if}}
  </div>

</template>

<template name="boutonCardprojects">
  <div class="button-bar bar-positive">
    {{> boutonCard id=_id._str scope=scopeVar isConnect=isFollowersMe classOff="followperson-link" classOn="button-stable unfollowscope-link" iconOff="fa fa-rss" iconOn="fa fa-rss-square"}}
    {{#if toBeValidated}}
      <button class="button button-small disabled">
        <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
      </button>
    {{else}}
      {{#if isInviting 'contributors' currentUser._id}}
        <button class="button button-small disabled">
          <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
        </button>
      {{else if equals isAdminPending false}}
        <button class="button button-small disabled">
          <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
        </button>
      {{else}}
        {{#if isAdmin}}
          {{> boutonCard id=_id._str scope=scopeVar isConnect=isAdmin classOff="button connectscopeadmin-link-js" classOn="button button-stable disconnectscopeadmin-link-js" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Admin off") titleOn=""}}
          <a href="{{pathFor 'invitations' _id=_id._str scope=scopeVar}}"
            class="button">{{> ionIcon icon="person-add"}}</a>
          <a href="{{pathFor 'messages' _id=_id._str scope=scopeVar}}" class="button">{{> ionIcon icon="email"}}</a>
        {{else}}
          {{> boutonCard id=_id._str scope=scopeVar isConnect=isContributors classOff="connectscope-link" classOn="button-stable disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Contributor off") titleOn=(__ "button Contributor on")}}
          {{> boutonCard id=_id._str scope=scopeVar isConnect=isAdmin classOff="connectscopeadmin-link-js" classOn="button-stable disconnectscopeadmin-link-js" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Admin off") titleOn=(__ "button Admin on")}}
        {{/if}}
      {{/if}}
    {{/if}}

  </div>

  {{#if isInviting 'contributors' currentUser._id}}
    {{#transition in="zoomIn" out="bounceOut"}}
      <div class="list">
        {{#with InvitingUser 'contributors' currentUser._id}}
          <div class="item item-text-wrap animated out">
            <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
              {{#if isAdmin}}
                {{__ "invited you to become an administrator"}}
              {{else}}
                {{__ "invited you"}}
              {{/if}}
            </p>
          </div>
        {{/with}}
        <div class="button-bar bar-clear">
          {{> boutonCard id=_id._str scope=scopeVar isConnect=(isInviting 'contributors' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
          {{> boutonCard id=_id._str scope=scopeVar isConnect=(isInviting 'contributors' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
        </div>
      </div>
    {{/transition}}
  {{/if}}

</template>

<template name="boutonNewsprojects">
  <div class="button-bar bar-positive">
    {{#if isContributors}}
      <button class="button button-small photo-link-new">{{> ionIcon icon="camera"}}</button>
      <a href="{{pathFor 'newsAdd' _id=_id._str scope=scopeVar}}"
        class="button button-small">{{> ionIcon icon="compose"}}</a>
    {{/if}}
  </div>
  {{> scopeFileUploadNews}}
</template>

<template name="boutonCardcitoyens">
  {{#if isMe}}
    <div class="button-bar bar-positive">
      <a href="{{pathFor 'actionsAdd' _id=_id._str scope=scopeVar}}" class="button"><i class="fa fa-plus"></i> Ajouter
        une
        action</a>
    </div>
  {{else}}
    <div class="button-bar bar-positive">
      {{> boutonCard id=_id._str scope=scopeVar isConnect=isFollowersMe classOff="followperson-link" classOn="button-stable unfollowscope-link" iconOff="fa fa-rss" iconOn="fa fa-rss-square"}}
    </div>
  {{/if}}
</template>

<template name="boutonNewscitoyens">
  <div class="button-bar bar-positive">
    {{#if isMe}}
      <button class="button button-small photo-link-new">{{> ionIcon icon="camera"}}</button>
      <a href="{{pathFor 'newsAdd' _id=_id._str scope=scopeVar}}"
        class="button button-small">{{> ionIcon icon="compose"}}</a>
    {{/if}}
  </div>
  {{> scopeFileUploadNews}}
</template>

<template name="listCardevents">
  {{> boutonCardevents}}
  {{> listCard}}
</template>

<template name="listCardorganizations">
  {{> boutonCardorganizations}}
  {{> listCard}}
</template>

<template name="listCardprojects">
  {{> boutonCardprojects}}
  {{> listCard}}
</template>

<template name="listCardcitoyens">
  {{> boutonCardcitoyens}}
  {{> listCard}}
</template>

<template name="listCardforms">
  {{> boutonCardforms}}
  {{> listCard}}
</template>

<template name="addMenuScopePopover">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <div class="item item-divider homestead">
          <i class="icon fa fa-plus-circle"></i> {{__ "Add"}}
        </div>
        {{#if equals 'citoyens' scopeVar}}
        {{else if equals 'organizations' scopeVar}}
          <a href="{{pathFor 'projectsAdd' _id=scopeId scope=scopeVar}}" class="item project popover-backdrop"><i
              class="icon fa fa-lightbulb-o"></i> {{__ "a project"}}</a>
        {{else if equals 'projects' scopeVar}}
          <a href="{{pathFor 'eventsAdd' _id=scopeId scope=scopeVar}}" class="item event popover-backdrop"><i
              class="icon fa fa-calendar"></i> {{__ "a event"}}</a>
        {{else if equals 'events' scopeVar}}
          <a href="{{pathFor 'actionsAdd' _id=scopeId scope=scopeVar}}" class="item room popover-backdrop"><i
              class="icon fa fa-university"></i> {{__ "a cooperative space"}}</a>
        {{/if}}
      </div>
    </div>
  {{/ionPopover}}
</template>

<template name="_inviteattendeesEvent">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <button data-dismiss="modal" type="button" class="button button-clear">{{__ "Reset"}}</button>
      <h2 class="title">{{__ "Invite"}}</h2>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-divider">
          {{__ "Send invite"}}
        </div>
        {{#if error}}
          <div class="item item-text-wrap animated shake homestead text-center">
            {{__ error}}
          </div>
        {{/if}}
        {{#autoForm id="inviteAttendeesEvent" schema=SchemasInviteAttendeesEventRest type="method" meteormethod="inviteattendeesEvent" template="ionic" class="padding"}}
          {{> afQuickField name='invitedUserName'}}
          {{> afQuickField name='invitedUserEmail'}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "send"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="scopeFileUploadNews">
  <form>
    <input type="file" id="file-upload-new" accept="image/*" style="display: block; opacity: 0;width:0px;height:0px;">
  </form>
</template>