<template name="projectsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "project" count=2}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{__ "Create a project"}}
        </div>
        {{#if error}}
          <div class="card">
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          </div>
        {{/if}}
        {{#autoForm id="addProject" schema=SchemasProjectsRest type="method" meteormethod="insertProject" template="ionic" class="padding"}}
          {{> projectsFields}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "create"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="projectsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "project" count=2}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a project"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editProject" schema=SchemasProjectsRest type="method-update" meteormethod="updateProject" doc=project template="ionic" class="padding"}}
            {{> projectsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="projectsBlockEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "project" count=2}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a project"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockProject" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=project autosave=true template="ionic" class="padding"}}
              {{> projectsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockProject" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=project template="ionic" class="padding"}}
              {{> projectsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="projectsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='avancement'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='email'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='tags'}}
  {{/if}}

  {{#if equals block 'when'}}
    {{> afQuickField name='startDate'  type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate'  type="datetimepicker" opts=optsDatetimepicker}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "You offer your data in free access, in order to contribute to the common good"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "All users have the possibility to participate modify information"}}
      </div>
    </div>
    {{> afQuickField name='preferences.isOpenData'}}
    {{> afQuickField name='preferences.isOpenEdition'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name'}}

    {{#if update}}
      {{> afQuickField name='shortDescription' rows=8}}
      {{> afQuickField name='description' rows=8}}
    {{else}}
      {{> afQuickField name='description' rows=8}}
    {{/if}}

    {{> afQuickField name='url'}}
    {{> afQuickField name='startDate'  type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate'  type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='public'}}

    {{> afQuickField name='tags'}}

    {{#if settingOceco.costum.projects.form.geo}}
      {{> afQuickField name='country' autocomplete="off" value=country }}
      {{#if currentFieldValue "country" country}}
        {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
        {{#if currentFieldValue "postalCode" postalCode}}
          {{#if optionsInsee}}
            {{> afQuickField name='city' options=optionsInsee value=city}}
            {{> afQuickField name='cityName' type="hidden" value=cityName}}
          {{else}}
            <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
              {{__ "Error not postal code match"}}
            </div>
          {{/if}}
        {{/if}}
        {{> afQuickField name='streetAddress' autocomplete="off"}}
        {{#if latlng}}
          {{> map}}
        {{/if}}
        {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
        {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
        {{> afQuickField name='regionName' type="hidden" value=regionName}}
        {{> afQuickField name='depName' type="hidden" value=depName}}
        {{> afQuickField name='localityId' type="hidden" value=localityId}}
      {{/if}}
    {{/if}}

    {{#if update}}
      {{> afQuickField name='preferences'}}
    {{/if}}
  {{/unless}}
</template>

<template name="ocecoProjectEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Configuration</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            Configuration jalon (milestone)
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editProjectOceco" schema=SchemasProjectsOcecoRest type="method-update"
    meteormethod="updateProjectOceco" doc=oceco template="ionic"}}

            {{> afQuickField name='oceco.milestones'}}

            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>