<template name='projectsMilestonesListActions'>

    {{#contentFor "headerTitle"}}
        <h1 class="title">{{__ "Milestones"}}</h1>
    {{/contentFor}}
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}

        <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
            data-ion-menu-toggle="right">
            {{#transition in="bounceInDown" out="bounceOutUp"}}
                {{#if notificationsCount}}
                    <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
                {{/if}}
            {{/transition}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="scroll-bg"}}
            {{#if dataReadyScopeDetail}}
                {{> Template.dynamic template="projectsMilestonesListActionsItems" data=scope}}
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
</template>

<template name="projectsMilestonesListActionsItems">

    <div class="list">

        {{> milestoneDetailCard milestone=(milestoneDetail milestoneId) countActions=(countActionsCreator 'aFaire' 'all' search milestoneId) scope=this}}

        <div class="item tabs">
            <a class="tab-item {{#if equals selectsubview 'todo'}}tab-item-active{{/if}} change-selectsubview-js"
                id="todo">A faire <span
                    class="positive">({{countActionsCreator 'aFaire' 'todo' search milestoneId}})</span></a>
            <a class="tab-item {{#if equals selectsubview 'done'}}tab-item-active{{/if}} change-selectsubview-js"
                id="done">Terminer <span
                    class="positive">({{countActionsCreator 'aFaire' 'done' search milestoneId}})</span></a>
            <a class="tab-item {{#if equals selectsubview 'disabled'}}tab-item-active{{/if}} change-selectsubview-js"
                id="disabled">Désactivées <span
                    class="positive">({{countActionsCreator 'aFaire' 'disabled' search milestoneId}})</span></a>
        </div>

        {{>searchActions}}

        {{#each item in listActionsCreator 'aFaire' selectsubview search searchSort milestoneId}}

            {{> itemInputAction action=item}}

        {{else}}

            <div class="item text-center">
                {{__ "No results"}}
            </div>

        {{/each}}

    </div>
</template>

<template name="milestoneDetailCard">

    {{> milestoneItem milestone=milestone scope=scope boutonsAction=boutonsAction projectName=true countActions=countActions noBar=true}}

</template>