<template name="citoyensBlockEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "citoyens"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a citoyen"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}

          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen autosave=true template="ionic" class="padding"}}
              {{> citoyensFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen template="ionic" class="padding"}}
              {{> citoyensFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="citoyensEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "citoyens"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a citoyen"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editCitoyen" schema=SchemasCitoyensRest type="method-update" meteormethod="updateCitoyen" doc=citoyen template="ionic" class="padding"}}
            {{> citoyensFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="citoyensFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name' label-type='placeholder' icon="fa fa-user positive"}}
    {{> afQuickField name='email' label-type='placeholder' icon="fa fa-envelope"}}
    {{> afQuickField name='url' label-type='placeholder' icon="fa fa-link"}}
    {{> afQuickField name='fixe' label-type='placeholder' icon="fa fa-phone"}}
    {{> afQuickField name='mobile' label-type='placeholder' icon="fa fa-mobile"}}
    {{> afQuickField name='fax' label-type='placeholder' icon="fa fa-fax"}}
    {{> afQuickField name='birthDate' label-type='placeholder' icon="fa fa-birthday-cake"}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='telegram' label-type='placeholder' icon="fa fa-telegram"}}
    {{> afQuickField name='skype' type="url" label-type='placeholder' icon="fa fa-skype"}}
    {{> afQuickField name='github' type="url" label-type='placeholder' icon="fa fa-github"}}
    {{> afQuickField name='twitter' type="url" label-type='placeholder' icon="fa fa-twitter"}}
    {{> afQuickField name='facebook' type="url" label-type='placeholder' icon="fa fa-facebook"}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"}}
    {{> afQuickField name='description' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Public"}}</strong> : {{__ "Visible to everyone"}}<br>
        <strong>{{__ "Private"}}</strong> : {{__ "isible to my contacts only"}}<br>
        <strong>{{__ "Masked"}}</strong> : {{__ "Visible to no one"}}<br>
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "You offer your data in free access, in order to contribute to the common good"}}
      </div>
    </div>
    {{> afQuickField type="select-radio" name='preferences.email'}}
    {{> afQuickField type="select-radio" name='preferences.locality'}}
    {{> afQuickField type="select-radio" name='preferences.phone'}}
    {{> afQuickField type="select-radio" name='preferences.directory'}}
    {{> afQuickField type="select-radio" name='preferences.birthDate'}}
    {{> afQuickField name='preferences.isOpenData'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' label-type='stacked' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

</template>

<template name="ocecoCitoyenEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Configuration"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Configuration Oceco"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editCitoyenOceco" schema=SchemasCitoyensOcecoRest type="method-update" meteormethod="updateCitoyenOceco" doc=oceco template="ionic"}}
            {{> afQuickField name='oceco.notificationPush'}}
            {{> afQuickField name='oceco.notificationEmail'}}
            {{> afQuickField name='oceco.notificationAllOrga'}}
            {{#if currentFieldValue "oceco.notificationAllOrga"}}
              <div class="item item-assertive item-text-wrap">
                {{{__ "Receive all notifications from oceco organizations of which you are a member"}}}
              </div>
            {{else}}
              <div class="item item-assertive item-text-wrap">
                {{{__ "Receive notifications from projects and organizations you follow"}}}
              </div>
            {{/if}}

            {{> afQuickField name='oceco.pomodoroTimeWork'}}
            {{> afQuickField name='oceco.pomodoroTimeShortRest'}}
            {{> afQuickField name='oceco.pomodoroTimeLongRest'}}

            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>