<template name='homeView'>
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "home"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="scroll-bg"}}

      {{#if settingOceco}}

        {{#if scope.isMembers}}
          {{#if settingOceco.pole}}
            {{#if settingOceco.home}}
              {{> scrollPrez title=settingOceco.home.textTitre prez=settingOceco.home.textInfo icon="ion-home"}}
            {{else}}
              {{> scrollPrez title=(__ "Choice of pole") prez=(__ "Choice_of_pole_description") icon="ion-home"}}
            {{/if}}
          {{else}}
            {{#if settingOceco.home}}
              {{> scrollPrez title=settingOceco.home.textTitre prez=settingOceco.home.textInfo icon="ion-home"}}
            {{else}}
              {{> scrollPrez title=(__ "Choice of projects") prez=(__ "Choice_of_projects_description") icon="ion-home"}}
            {{/if}}
          {{/if}}

          {{#if settingOceco.pole}}

            {{#each poles in RaffineriePoles}}
              <a href="{{pathFor 'polesView' pole=poles scope='project'}}" class="item">
                {{poles}}
              </a>
            {{/each}}

          {{else}}
            {{>projectsView}}
          {{/if}}
        {{else}}

          {{> scrollPrez title=(__ "Member") prez=(__ "Member_valid_description") icon="ion-home"}}

          {{#if scope.toBeValidated}}
            <button class="button button-block disabled">
              <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
            </button>
          {{else}}
            {{#if scope.isInviting 'members' currentUser._id}}
              <button class="button button-block disabled">
                <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
              </button>
              {{#transition in="zoomIn" out="bounceOut"}}
                <div class="list">
                  {{#with scope.InvitingUser 'members' currentUser._id}}
                    <div class="item item-text-wrap animated out">
                      <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
                        {{#if isAdmin}}
                          {{__ "invited you to become an administrator"}}
                        {{else}}
                          {{__ "invited you"}}
                        {{/if}}
                      </p>
                    </div>
                  {{/with}}
                  <div class="button-bar bar-clear">
                    {{> boutonCard id=scope._id._str scope=scope.scopeVar isConnect=(scope.isInviting 'members' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
                    {{> boutonCard id=scope._id._str scope=scope.scopeVar isConnect=(scope.isInviting 'members' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
                  </div>
                </div>
              {{/transition}}
            {{else}}
              {{> boutonCard id=scope._id._str scope=scope.scopeVar isConnect=scope.isMembers classOff="button-block connectscope-link" classOn="button-block disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOn=(__ "No longer be a member of the organization") titleOff=(__ "Become a member of the organization")}}
            {{/if}}
          {{/if}}

        {{/if}}

      {{else}}

      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="searchActions">
  <label class="item item-input search">
    <i class="icon ion-search placeholder-icon {{#if search}}positive{{/if}}"></i>
    <input id="search" type="text" placeholder="{{__ 'search_action_placeholder'}}" value="{{search}}"
      autocomplete="off">
    <button class="button button-clear {{#if sortActived}}button-positive{{/if}}" data-ion-modal="searchSort"><i
        class="icon fa fa-sort-alpha-asc"></i></button>
  </label>

  {{#if searchTag}}
    <div class="item item-divider">
      {{__ "Filter by tags"}}
    </div>
    {{#each allTags}}
      <div class="item item-icon-left item-positive searchtag-js">
        <i class="icon fa fa-tag"></i> {{this}}
      </div>
    {{/each}}
  {{/if}}

  {{#if searchMilestone}}
    <div class="item item-divider">
      {{__ "Filter by milestone"}}
    </div>
    {{#each allMilestones}}
      <div class="item item-icon-left item-calm searchmilestone-js">
        <i class="icon fa fa-flag"></i> {{this}}
      </div>
    {{/each}}
  {{/if}}

  {{#if searchUser}}
    <div class="item item-divider">
      {{__ "Filter by user"}}
    </div>
    {{#each allUsers}}
      <div class="item item-icon-left item-positive searchuser-js">
        <i class="icon fa fa-user"></i> {{name}}
      </div>
    {{/each}}
  {{/if}}

  {{#if searchHelp}}
    <div class="item item-divider">
      {{__ "Filter actions"}}
    </div>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="?c">
      <i class="icon fa fa-filter"></i> {{__ "with contributors"}} <code>?c</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="?nc">
      <i class="icon fa fa-filter"></i> {{__ "without contributors"}} <code>?nc</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="?me">
      <i class="icon fa fa-filter"></i> {{__ "where I am contributors"}} <code>?me</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="#">
      <i class="icon fa fa-filter"></i> {{__ "by tags"}} <code>#</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="~">
      <i class="icon fa fa-filter"></i> {{__ "by milestone"}} <code>~</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action=":">
      <i class="icon fa fa-filter"></i> {{__ "by projects"}} <code>:</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="?old">
      <i class="icon fa fa-filter"></i> {{__ "very old"}} <code>?old</code>
    </a>
  {{/if}}

</template>

<template name="searchSortItemToggle">
  <div class="item item-toggle">
    {{label}}
    <label class="toggle toggle-balanced">
      <input id="{{type}}.{{field}}" class="sort-checked-js" type="checkbox" checked="{{#if checked}}checked{{/if}}">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
  {{#if checked}}
    <div class="item item-checkbox item-text-wrap">
      <label class="checkbox">
        {{#if fieldDesc}}
          <input type="checkbox" class="sort-desc-js" value="true" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox" checked="checked">
        {{else}}
          <input type="checkbox" class="sort-desc-js" value="false" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox">
        {{/if}}
      </label>
      {{__ "descending sort"}}
    </div>
  {{/if}}
</template>

<template name="searchSort">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Sort"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        {{#if isHome}}
          {{#if settingOceco.projectAction}}
            <div class="item item-divider">
              {{__ "Sort projects by"}} {{#each orderType 'projects'}}{{label}} {{/each}}
            </div>
            {{#each searchSort.projects}}
              {{> searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}}
            {{/each}}
          {{/if}}

          {{#if settingOceco.eventAction}}
            <div class="item item-divider">
              {{__ "Sort events by"}} {{#each orderType 'events'}}{{label}} {{/each}}
            </div>
            {{#each searchSort.events}}
              {{> searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}}
            {{/each}}
          {{/if}}
        {{/if}}

        <div class="item item-divider">
          {{__ "Sort actions by"}} {{#each orderType 'actions'}}{{label}} {{/each}}
        </div>
        {{#each searchSort.actions}}
          {{> searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}}
        {{/each}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name='projectsView'>
  {{#if dataReady}}
    {{>searchActions}}
    <div class="list">
      {{#if searchMaintenance}}
        {{>actionsMaintenance}}
      {{else}}
        {{>organizationList}}
        {{#each project in poleProjects2}}
          {{>projectList2 project=project}}
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="usersView">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Member actions"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{> usersViewUser}}

</template>

<template name="usersViewUser">
  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{#if allUsers}}
          <div class="list">
            <div class="item item-stable item-button-right">{{__"Dashboard"}} <a
                href="{{pathFor 'assignUserDashboard' _id=currentId}}" class="button button-positive"><i
                  class="icon fa fa-cog"></i></a></div>
            {{#each allUsers}}
              {{> usersViewUserItem user=this}}
            {{/each}}
          </div>
        {{else}}
          <div class="list">
            <div class="item item-divider">{{__ "Dashboard user configuration"}}</div>
            <div class="item">
              <a href="{{pathFor 'assignUserDashboard' _id=currentId}}"
                class="button button-block">{{__ "Dashboard user configuration"}}</a>
            </div>
          </div>
        {{/if}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="usersViewUserItem">
  <div class="item item-icon-left item-dark">
    <i class="icon fa fa-user"></i> {{user.name}}
  </div>
  {{>organizationList user=user}}
  {{#each project in (poleProjects2 user=user)}}
    {{>projectList2 project=project user=user}}
  {{/each}}
</template>

<template name="actionsMaintenance">

  <div class="item item-divider">{{{__ "Actions still to be done which have more than"}}}</div>
  {{> actionsMaintenanceItem monthStart=18 monthEnd=12 color="assertive" icon="fa fa-warning"}}
  {{> actionsMaintenanceItem monthStart=12 monthEnd=6 color="assertive" icon="fa fa-warning"}}
  {{> actionsMaintenanceItem monthStart=6 monthEnd=null color="energized" icon="fa fa-warning"}}

  <div class="item item-divider">{{{__ "Actions still to be done and without a contributor that have more than"}}}</div>
  {{> actionsMaintenanceItem monthStart=18 monthEnd=12 color="assertive" icon="fa fa-warning" contributor=false}}
  {{> actionsMaintenanceItem monthStart=12 monthEnd=6 color="assertive" icon="fa fa-warning" contributor=false}}
  {{> actionsMaintenanceItem monthStart=6 monthEnd=null color="energized" icon="fa fa-warning" contributor=false}}

</template>

<template name="actionsMaintenanceItem">
  <div class="item item-icon-left {{color}} {{event}}"><i class="icon {{icon}}"></i>{{#if monthEnd}}
      {{__ "number_month" count=monthStart}} - {{__ "number_month" count=monthEnd}}
    {{else}} {{__ "number_month" count=monthStart}} {{/if}}
    <span class="badge badge-{{color}}">{{maintenanceChiffreStartEndCount monthStart monthEnd contributor}}</span>
  </div>
  {{#unless noList}}
    {{#if maintenanceChiffreStartEndCount monthStart monthEnd contributor}}
      {{#scrollBlock title=(__ "Actions") count=(maintenanceChiffreStartEndCount monthStart monthEnd contributor) activeSearch=false}}
        {{#each action in maintenanceChiffreStartEnd monthStart monthEnd contributor}}
          {{> itemInputAction action=action}}
        {{/each}}
      {{/scrollBlock}}
    {{/if}}
  {{/unless}}
</template>