<template name="actionsDetailComments">
  {{#contentFor "headerButtonLeft"}}
    {{#if scope._id._str}}
      {{>ionNavBackButton}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "comments"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{> commentsActionsAdd}}
        {{> actionsDetailCommentsData scope=scope }}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="actionsDetailCommentsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "comments"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        {{#if dataReady}}

          {{> commentsActionsAdd}}
          {{> actionsDetailCommentsData scope=scope }}

        {{else}}
          {{> loading}}
        {{/if}}

      </div>
    </div>
  {{/ionModal}}

</template>

<template name="actionsDetailCommentsData">
  {{#with scope.room ../roomId}}
    {{#with action ../../actionId}}
      <div class="item item-divider">
        Commentaire : <a
          href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=parentId scope=parentType roomId=idParentRoom actionId=_id._str}}"
          class="positive">{{name}}</a>
      </div>
      {{#each listComments}}
        <div class="list card">
          <div class="item {{#if authorComments.profilThumbImageUrl}}item-avatar{{/if}}">
            {{#if authorComments.profilThumbImageUrl}}
              {{> imgDoc profilThumbImageUrl=authorComments.profilThumbImageUrl resized="80x80"}}
            {{/if}}
            <p><i class="icon ion-person"></i> <a href="{{pathFor 'detailList' _id=author scope='citoyens'}}"
                class="dark">{{authorComments.name}}</a></p>
            <p><i class="icon ion-clock"></i> {{livestamp dateComments}}</p>
          </div>
          {{#if text}}
            <div class="item item-body">
              {{{autolinker (textMentions text)}}}
            </div>
          {{/if}}
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item like-comment" href="#">
              <i class="icon ion-thumbsup"></i>
              {{likesCount}}
            </a>
            <a class="tab-item dislike-comment" href="#">
              <i class="icon ion-thumbsdown"></i>
              {{dislikesCount}}
            </a>
            {{#if isAuthor}}
              <a class="tab-item action-comment" href="#">
                <i class="icon fa fa-cog"></i>
              </a>
            {{else}}
              {{#if ../../../scope.isAdmin}}
                <a class="tab-item action-comment" href="#">
                  <i class="icon fa fa-cog"></i>
                </a>
              {{/if}}
            {{/if}}
          </div>

        </div>
      {{/each}}
    {{/with}}
  {{/with}}
</template>

<template name="commentsActionsAdd">
  {{#autoForm id="addActionsComment" schema=SchemasCommentsRest type="method" meteormethod="insertComment" singleMethodArgument=true template="ionic" class=""}}
    {{> afQuickField name='text' label-type='placeholder' rows=2}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{__ "publish"}}</button>
      </div>
    </div>
  {{/autoForm}}
</template>

<template name="commentsActionsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "comment"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "edit a comment"}}
          </div>
          {{#if error}}
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          {{/if}}
          {{#autoForm id="editActionsComment" schema=SchemasCommentsEditRest type="method-update" meteormethod="updateComment" doc=comment template="ionic" class="padding"}}
            {{> afQuickField name='text' label-type='placeholder' rows=2}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>