<template name="directory">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "community"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="directoryView" data=scope}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="directorySearch">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input id="search" type="text" placeholder="{{__ "Search"}}" value="{{search}}">
  </label>
</template>

<template name="directoryButtonBar">
  <div class="button-bar bar-positive">
    {{> Button_toggle condition=(equals view 'all') classOff="button button-small all" classOn="button button-small all activated" iconOff="icon fa fa-th-list" iconOn="icon fa fa-th-list"}}
    {{#if equals scopeVar 'citoyens'}}
      {{> Button_toggle condition=(equals view 'memberof') classOff="button button-small memberof" classOn="button button-small memberof activated" iconOff="icon fa fa-users" iconOn="icon fa fa-users"}}
      {{> Button_toggle condition=(equals view 'projects') classOff="button button-small projects" classOn="button button-small projects activated" iconOff="icon fa fa-lightbulb-o" iconOn="icon fa fa-lightbulb-o"}}
    {{/if}}
    {{#if equals scopeVar 'organizations'}}
      {{> Button_toggle condition=(equals view 'members') classOff="button button-small members" classOn="button button-small members activated" iconOff="icon fa fa-user" iconOn="icon fa fa-user"}}
      {{> Button_toggle condition=(equals view 'projects') classOff="button button-small projects" classOn="button button-small projects activated" iconOff="icon fa fa-lightbulb-o" iconOn="icon fa fa-lightbulb-o"}}
    {{/if}}
    {{#if equals scopeVar 'projects'}}
      {{> Button_toggle condition=(equals view 'contributors') classOff="button button-small contributors" classOn="button button-small contributors activated" iconOff="icon fa fa-user" iconOn="icon fa fa-user"}}
    {{/if}}
  </div>
</template>

<template name="directoryView">
  <div class="list">
    {{> directorySearch}}
    {{> directoryButtonBar}}

    {{#if equals view 'all'}}
      {{#if equals scopeVar 'citoyens'}}
        {{> listDirectoryMemberOf}}
        {{> listDirectoryProjects}}
      {{/if}}
      {{#if equals scopeVar 'organizations'}}
        {{> listDirectoryMembers}}
        {{> listDirectoryProjects}}
      {{/if}}
      {{#if equals scopeVar 'projects'}}
        {{> listDirectoryContributors}}
      {{/if}}
      {{#if equals scopeVar 'events'}}
        {{> listAttendeesValidate}}
        {{> listAttendeesOrgaValidate}}
        {{> listAttendeesIsInviting}}
      {{/if}}

    {{else}}
      {{#if equals view 'follows'}}
        {{> listDirectoryFollows}}
      {{/if}}
      {{#if equals view 'memberof'}}
        {{> listDirectoryMemberOf}}
      {{/if}}
      {{#if equals view 'members'}}
        {{> listDirectoryMembers}}
      {{/if}}
      {{#if equals view 'membersorganizations'}}
        {{> listDirectoryMembersOrganizations}}
      {{/if}}
      {{#if equals view 'contributors'}}
        {{> listDirectoryContributors}}
      {{/if}}
      {{#if equals view 'projects'}}
        {{> listDirectoryProjects}}
      {{/if}}
      {{#if equals view 'events'}}
        {{> listDirectoryEvents}}
      {{/if}}
      {{#if equals view 'followers'}}
        {{> listDirectoryFollowers}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="listDirectoryContributors">
  {{#if countContributors search}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "contributors"}} <span
        class="badge badge-dark">{{countContributors search}}</span>
    </div>
    {{> directoryList list=(listContributors search) isConnect="isFollowersMe" person=true scope="citoyens" scopeCible=scopeVar scopeId=_id._str isScopeAdmin=isAdmin}}
  {{/if}}
</template>

<template name="listDirectoryFollows">
  {{#if countFollows search}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "follows"}} <span class="badge badge-dark">{{countFollows search}}</span>
    </div>
    {{> directoryList list=(listFollows search) isConnect="isFollowersMe" person=true scope="citoyens"}}
  {{/if}}
</template>

<template name="listDirectoryFollowers">
  {{#if countFollowers search}}
    <div class="item item-divider">
      <i class="icon ion-ios-heart"></i> {{__ "subscribers"}} <span
        class="badge badge-dark">{{countFollowers search}}</span>
    </div>
    {{> directoryList list=(listFollowers search) isConnect="isFollowersMe" person=true scope="citoyens"}}
  {{/if}}
</template>

<template name="listDirectoryMemberOf">
  {{#if countMemberOf search ''}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "organizations"}} <span
        class="badge badge-dark">{{countMemberOf search selectorga}}</span>
    </div>
    <div class="button-bar button-small">
      {{#each listOrganisationTypes}}
        <a class="button button-small {{#if equals selectorga value}}button-positive activated{{else}}button-positive{{/if}} selectorga"
          id="{{value}}" data-id="{{value}}">{{label}}</a>
      {{/each}}
    </div>
    {{> directoryList list=(listMemberOf search selectorga) isConnect="isMembers" person=false scope="organizations"}}
  {{/if}}
</template>

<template name="listDirectoryMembers">
  {{#if countMembers search}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "members"}} <span class="badge badge-dark">{{countMembers search}}</span>
    </div>
    {{> directoryList list=(listMembers search) isConnect="isFollowersMe" person=true scope="citoyens" scopeCible=scopeVar scopeId=_id._str isScopeAdmin=isAdmin}}
  {{/if}}
</template>

<template name="listDirectoryMembersOrganizations">
  {{#if countMembersOrganizations search ''}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "organizations"}} <span
        class="badge badge-dark">{{countMembersOrganizations search selectorga}}</span>
    </div>
    <div class="button-bar button-small">
      {{#each listOrganisationTypes}}
        <a class="button button-small {{#if equals selectorga value}}button-positive activated{{else}}button-positive{{/if}} selectorga"
          id="{{value}}" data-id="{{value}}">{{label}}</a>
      {{/each}}
    </div>
    {{> directoryList list=(listMembersOrganizations search selectorga) isConnect="isMembers" person=false scope="organizations" scopeCible=scopeVar scopeId=_id._str isScopeAdmin=isAdmin}}
  {{/if}}
</template>

<template name="listDirectoryProjects">
  {{#if countProjects search}}
    <div class="item item-divider">
      <i class="icon fa fa-lightbulb-o"></i> {{__ "project" count=(countProjects search)}} <span
        class="badge badge-dark">{{countProjects search}}</span>
    </div>
    {{> directoryList list=(listProjects search) isConnect="isContributors" person=false scope="projects"}}
  {{/if}}
</template>

<template name="listDirectoryEvents">
  {{#if countEvents search}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "events"}} <span class="badge badge-dark">{{countEvents search}}</span>
    </div>
    {{> directoryList list=(listEvents search) isConnect="isAttendees" person=false scope="events"}}
  {{/if}}
</template>